Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

chore: fix running commitlint by adding ts-node as dependency
  package.json
  yarn.lock
Due: prettier --write

chore(release): 2.2.3
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): correct spelling of "switchTheme"
  CHANGELOG.md
Due: prettier --write

chore(release): 2.2.3 (#2011)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix(react): make sure custom-select reacts to value change
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix(react): make sure custom-select reacts to value change (#2017)
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

chore(release): 2.2.4
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.2.4 (#2018)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore: enforce NodeJS <18
  package.json
Due: prettier --write

chore: enforce NodeJS <18 (#2105)
  package.json
Due: prettier --write

fix: update IndicatorContainer children type
  packages/react/src/internal/indicator-container/indicator-container.tsx
Due: prettier --write, eslint --fix

fix: update IndicatorContainer children type (#2103)
  packages/react/src/internal/indicator-container/indicator-container.tsx
Due: prettier --write, eslint --fix

fix: fix typescript issue
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

chore(release): 2.2.5
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.2.5 (#2118)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(core): fix impossible dependency from castor/core to castor/core
  packages/core/package.json
  packages/core/src/components/icon/icon.ts
  packages/core/src/helpers/border-radius/border-radius.ts
  packages/core/src/helpers/color/color.ts
  packages/core/src/helpers/font/font.ts
  packages/core/src/utils/toCSS/toCSS.ts
  packages/react/package.json
Due: prettier --write, eslint --fix

chore(core): create declaration files
  tsconfig.json
Due: prettier --write

chore(core): removed index.js file in src which references the dist directory
  packages/core/index.js
Due: prettier --write, eslint --fix

chore: added *.iml to .gitignore
  .gitignore
Due: none

chore(core): set version to 2.3.0
  packages/core/package.json
Due: prettier --write

chore(react): only transpile ts files from src directory
  packages/react/tsconfig.json
Due: prettier --write

chore(react): remove circular dependencies and add castor as dependency
  packages/react/package.json
  packages/react/src/components/button/button.tsx
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/combobox/combobox.tsx
  packages/react/src/components/field/useField.spec.ts
  packages/react/src/components/field/useField.ts
  packages/react/src/components/fieldset/fieldset.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/search/search.tsx
  packages/react/src/components/select/native/native-select.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/components/validation/validation.tsx
  packages/react/src/internal/maybe-icon/maybe-icon.tsx
Due: prettier --write, eslint --fix

chore(react): remove index.js outside src folder
  packages/react/index.js
Due: prettier --write, eslint --fix

chore(core): use src/index.ts as entry point
  packages/core/tsconfig.json
Due: prettier --write

chore(react): corrected path to types in package.json
  packages/react/package.json
Due: prettier --write

feat(react): accordion component
  packages/core/src/components/accordion/accordion.scss
  packages/core/src/components/index.scss
  packages/react/src/components/accordion/accordion.stories.tsx
  packages/react/src/components/accordion/accordion.tsx
  packages/react/src/components/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

feat(react): accordion component (#2295)
  packages/core/src/components/accordion/accordion.scss
  packages/core/src/components/index.scss
  packages/react/src/components/accordion/accordion.stories.tsx
  packages/react/src/components/accordion/accordion.tsx
  packages/react/src/components/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

chore(release): 2.3.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

feat(react): accordion separator improvement
  packages/core/src/components/accordion/accordion.scss
Due: prettier --write, stylelint --fix

fix(a11y): set to hidden input
  packages/react/src/components/option-list/option.tsx
Due: prettier --write, eslint --fix

fix(a11y): set to hidden input (#2560)
  packages/react/src/components/option-list/option.tsx
Due: prettier --write, eslint --fix

chore(release): 2.3.0 (#2446)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.3.1
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix(SDK-2864): accessibility validation error role msg
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

feat: add switch component
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/switch/switch.scss
  packages/core/src/components/switch/switch.ts
  packages/react/src/components/index.ts
  packages/react/src/components/switch/switch.stories.tsx
  packages/react/src/components/switch/switch.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Release 2.3.0
  README.md
Due: prettier --write

feat: datepicker component
  packages/core/src/components/calendar/calendar.scss
  packages/core/src/components/calendar/calendar.ts
  packages/core/src/components/date-picker/date-picker.scss
  packages/core/src/components/date-picker/date-picker.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/input/input.ts
  packages/react/src/components/calendar/calendar.stories.tsx
  packages/react/src/components/calendar/calendar.tsx
  packages/react/src/components/date-picker/date-picker.stories.tsx
  packages/react/src/components/date-picker/date-picker.tsx
  packages/react/src/components/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Release 2.4.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
Due: prettier --write

Release 2.4.2
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
Due: prettier --write
