Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

fix: don't blur when the Popover is open
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix: disabled options don't show an active state
  packages/core/src/components/select/select.scss
Due: prettier --write, stylelint --fix

refactor: hoist logic from native select
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/native/native-select.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

docs: improve stories
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/select/select.story.tsx
  packages/react/src/components/select/select.stories.tsx
Due: prettier --write, eslint --fix

docs: start migration guide
  MIGRATION.md
Due: prettier --write

fix: omit Select's Popover content from Field
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix: onClick instead of onMouseUp
  packages/react/src/components/select/custom/custom-option.tsx
Due: prettier --write, eslint --fix

docs: disable placeholder option
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

style: restProps
  packages/react/src/components/select/custom/custom-option-group.tsx
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix: bubble onChange
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

fix: popover overlay is visible
  packages/core/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

docs: improve popover
  packages/react/src/components/popover/popover-props.ts
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/tooltip/tooltip.stories.tsx
Due: prettier --write, eslint --fix

docs: migration from 1 to 2
  MIGRATION.md
Due: prettier --write

docs: migration from 1 to 2 (#1076)
  MIGRATION.md
Due: prettier --write

build: update castor-tokens
  MIGRATION.md
Due: prettier --write

docs: update castor-tokens migration (#1077)
  MIGRATION.md
Due: prettier --write

chore(release): 2.0.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.0.0 (#1093)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore: bump jest from 27.2.5 to 27.3.1
  package.json
  packages/react/src/utils/useDebounce/useDebounce.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: strict ts issues
  docs/_core/borders/examples.story.tsx
  docs/colors/colors.ts
  docs/helpers/matrix/combinations.ts
  packages/react/src/components/form/getFormValues.spec.ts
  packages/react/src/utils/withRef/withRef.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: strict ts issues (#1119)
  docs/_core/borders/examples.story.tsx
  docs/colors/colors.ts
  docs/helpers/matrix/combinations.ts
  packages/react/src/components/form/getFormValues.spec.ts
  packages/react/src/utils/withRef/withRef.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore(release): 2.0.1
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.0.1 (#1120)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix(react): select onChange
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

fix(react): select onChange (#1130)
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

chore(release): 2.0.2
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.0.2 (#1133)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix(react): hidden options do not render
  packages/react/src/components/select/custom/custom-option.tsx
Due: prettier --write, eslint --fix

fix(react): hidden options do not render (#1141)
  packages/react/src/components/select/custom/custom-option.tsx
Due: prettier --write, eslint --fix

fix(react): select empty modifier
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

fix: only change when value is non nullish
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

fix(react): select empty modifier (#1140)
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

docs: select options - hidden instead of disabled
  packages/react/src/components/select/select.stories.tsx
Due: prettier --write, eslint --fix

fix(react): select should respond to value changes
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

docs: set reactMatrix keys to stop console.error
  docs/helpers/matrix/reactMatrix.tsx
Due: prettier --write, eslint --fix

docs: set reactMatrix keys to stop console.error (#1152)
  docs/helpers/matrix/reactMatrix.tsx
Due: prettier --write, eslint --fix

docs: select options - hidden instead of disabled (#1151)
  packages/react/src/components/select/select.stories.tsx
Due: prettier --write, eslint --fix

style: accept suggestion
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix(react): select should respond to value changes (#1150)
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix
