Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix: prettier lint-staged glob
  .lintstagedrc.json
Due: prettier --write

chore: put yml last
  .lintstagedrc.json
Due: prettier --write

build: run linters for all appropriate files (#112)
  .github/workflows/lint.yml
  .lintstagedrc.json
  package.json
Due: prettier --write

feat(core)!: add ods- prefix to all tokens
  docs/_core/borders/intro.story.tsx
  docs/_core/colors/intro.story.tsx
  examples/custom-themes/src/tokens.scss
  examples/html-css-js-parcel/src/app.css
  examples/html-css-js/index.css
  examples/html-css/index.css
  packages/core/README.md
  packages/core/src/helpers/border-radius/border-radius.scss
  packages/core/src/helpers/border-radius/border-radius.spec.ts
  packages/core/src/helpers/border-radius/border-radius.ts
  packages/core/src/helpers/color/color.scss
  packages/core/src/helpers/color/color.spec.ts
  packages/core/src/helpers/color/color.ts
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
  packages/core/src/theme/tokens.scss
  packages/react/src/icon/icon.react.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: prettier - stylelint conflict
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
Due: prettier --write, stylelint --fix

refactor(core): simplify classy
  packages/core/src/utils/classy/classy.spec.ts
  packages/core/src/utils/classy/classy.ts
  packages/react/src/button/button.react.tsx
  packages/react/src/icon/icon.react.tsx
  packages/react/src/input/input.react.tsx
  packages/react/src/textarea/textarea.react.tsx
Due: prettier --write, eslint --fix

chore: small rename
  packages/core/src/utils/classy/classy.ts
Due: prettier --write, eslint --fix

refactor(core): simplify classy (#113)
  packages/core/src/utils/classy/classy.spec.ts
  packages/core/src/utils/classy/classy.ts
  packages/react/src/button/button.react.tsx
  packages/react/src/icon/icon.react.tsx
  packages/react/src/input/input.react.tsx
  packages/react/src/textarea/textarea.react.tsx
Due: prettier --write, eslint --fix

chore: move prettier-ignore
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
Due: prettier --write, stylelint --fix

feat(core)!: add ods- prefix to all tokens (#103)
  docs/_core/borders/intro.story.tsx
  docs/_core/colors/intro.story.tsx
  examples/custom-themes/src/tokens.scss
  examples/html-css-js-parcel/src/app.css
  examples/html-css-js/index.css
  examples/html-css/index.css
  packages/core/README.md
  packages/core/src/helpers/border-radius/border-radius.scss
  packages/core/src/helpers/border-radius/border-radius.spec.ts
  packages/core/src/helpers/border-radius/border-radius.ts
  packages/core/src/helpers/color/color.scss
  packages/core/src/helpers/color/color.spec.ts
  packages/core/src/helpers/color/color.ts
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
  packages/core/src/theme/tokens.scss
  packages/react/src/icon/icon.react.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

style: font sizes and types spacing
  packages/core/src/helpers/font/font.ts
Due: prettier --write, eslint --fix

perf: cut string sizes
  packages/core/src/helpers/color/color.ts
  packages/core/src/helpers/space/space.ts
Due: prettier --write, eslint --fix

refactor: rename dashcase to kebabcase
  packages/core/src/utils/dashCase/dashCase.spec.ts
  packages/core/src/utils/dashCase/dashCase.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/kebabCase/kebabCase.spec.ts
  packages/core/src/utils/kebabCase/kebabCase.ts
  packages/core/src/utils/toCSS/toCSS.spec.ts
  packages/core/src/utils/toCSS/toCSS.ts
Due: prettier --write, eslint --fix

style: font sizes and types spacing (#115)
  packages/core/src/helpers/font/font.ts
Due: prettier --write, eslint --fix

revert: color
  packages/core/src/helpers/color/color.ts
Due: prettier --write, eslint --fix

refactor: rename dashcase to kebabcase (#117)
  packages/core/src/utils/dashCase/dashCase.spec.ts
  packages/core/src/utils/dashCase/dashCase.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/kebabCase/kebabCase.spec.ts
  packages/core/src/utils/kebabCase/kebabCase.ts
  packages/core/src/utils/toCSS/toCSS.spec.ts
  packages/core/src/utils/toCSS/toCSS.ts
Due: prettier --write, eslint --fix

refactor: space
  packages/core/src/helpers/space/space.scss
  packages/core/src/helpers/space/space.ts
Due: prettier --write, eslint --fix, stylelint --fix

revert: note comment
  packages/core/src/helpers/space/space.ts
Due: prettier --write, eslint --fix

fix: whoopsie
  packages/core/src/helpers/space/space.scss
Due: prettier --write, stylelint --fix

chore: trim error message
  packages/core/src/helpers/space/space.scss
  packages/core/src/helpers/space/space.ts
Due: prettier --write, eslint --fix, stylelint --fix

test: fix
  packages/core/src/helpers/space/space.spec.ts
Due: prettier --write, eslint --fix

refactor: test
  packages/core/src/helpers/space/space.spec.ts
Due: prettier --write, eslint --fix

refactor(core): make "space" helper similar between .ts and .scss (#116)
  packages/core/src/helpers/space/space.scss
  packages/core/src/helpers/space/space.spec.ts
  packages/core/src/helpers/space/space.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: add style
  packages/core/style/components/search.scss
Due: prettier --write, stylelint --fix

feat: add search component
  packages/core/src/components/index.scss
  packages/core/src/components/search/search.scss
  packages/core/src/components/search/search.ts
  packages/react/src/input/input.react.tsx
  packages/react/src/search/search.react.stories.tsx
  packages/react/src/search/search.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: comment
  packages/core/src/components/search/search.scss
  packages/core/src/components/search/search.ts
Due: prettier --write, eslint --fix, stylelint --fix

docs: search component
  packages/react/src/search/search.react.tsx
  packages/react/src/utils/withRef.ts
Due: prettier --write, eslint --fix

refactor: ref and space
  packages/core/src/components/search/search.scss
  packages/core/src/helpers/space/space.scss
  packages/core/src/helpers/space/space.spec.ts
  packages/core/src/helpers/space/space.ts
  packages/react/src/input/input.react.tsx
  packages/react/src/search/search.react.stories.tsx
  packages/react/src/search/search.react.tsx
  packages/react/src/utils/index.ts
  packages/react/src/utils/withRef.ts
Due: prettier --write, eslint --fix, stylelint --fix

docs: update search sass comment
  packages/core/src/components/search/search.scss
Due: prettier --write, stylelint --fix

docs: comment
  packages/react/src/utils/withRef.ts
Due: prettier --write, eslint --fix

docs: fix icon comment
  packages/react/src/icon/icon.react.tsx
  packages/react/src/search/search.react.tsx
Due: prettier --write, eslint --fix

style: reorder story props
  packages/react/src/search/search.react.stories.tsx
Due: prettier --write, eslint --fix

test: withRef
  packages/react/src/utils/withRef.spec.ts
Due: prettier --write, eslint --fix

style: rename props to restProps
  packages/react/src/search/search.react.tsx
Due: prettier --write, eslint --fix

refactor: folder structure
  packages/react/src/components/button/button.react.stories.tsx
  packages/react/src/components/button/button.react.tsx
  packages/react/src/components/icon/icon.react.stories.tsx
  packages/react/src/components/icon/icon.react.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.react.stories.tsx
  packages/react/src/components/input/input.react.tsx
  packages/react/src/components/search/search.react.stories.tsx
  packages/react/src/components/search/search.react.tsx
  packages/react/src/components/textarea/textarea.react.stories.tsx
  packages/react/src/components/textarea/textarea.react.tsx
  packages/react/src/index.ts
Due: prettier --write, eslint --fix

fix: import paths
  packages/react/src/components/button/button.react.stories.tsx
  packages/react/src/components/input/input.react.stories.tsx
  packages/react/src/components/input/input.react.tsx
Due: prettier --write, eslint --fix

fix: stuff
  packages/react/src/components/icon/icon.react.stories.tsx
  packages/react/src/components/search/search.react.stories.tsx
  packages/react/src/components/textarea/textarea.react.stories.tsx
Due: prettier --write, eslint --fix

docs: update comment
  packages/react/src/components/icon/icon.react.tsx
Due: prettier --write, eslint --fix

refactor: omit children in input
  packages/react/src/components/input/input.react.tsx
  packages/react/src/components/search/search.react.tsx
  packages/react/src/utils/withRef.ts
Due: prettier --write, eslint --fix

style: change eslint ignore
  packages/react/src/utils/withRef.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,yml,html,md,mdx,json}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
