Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

feat: implement popover (#878)
  .nycrc.json
  .storybook/custom/transformSource.ts
  cypress.json
  docs/decorators/withContainer.tsx
  docs/helpers/html.ts
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Popover/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Popover/All Combinations.snap.png
  e2e/visual-regression/all.e2e.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/popover/popover.scss
  packages/core/src/components/popover/popover.stories.ts
  packages/core/src/components/popover/popover.story.tsx
  packages/core/src/components/popover/popover.ts
  packages/react/package.json
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/popover/popover.tsx
  packages/react/src/components/popover/useObserver.spec.ts
  packages/react/src/components/popover/useObserver.ts
  packages/react/src/components/popover/useOnClickOutside.spec.ts
  packages/react/src/components/popover/useOnClickOutside.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: implement tooltip
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Tooltip/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Tooltip/All Combinations.snap.png
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/popover/popover.story.tsx
  packages/core/src/components/tooltip/tooltip.scss
  packages/core/src/components/tooltip/tooltip.stories.ts
  packages/core/src/components/tooltip/tooltip.story.tsx
  packages/core/src/components/tooltip/tooltip.ts
  packages/core/src/helpers/index.scss
  packages/core/src/helpers/time/time.scss
  packages/core/src/helpers/time/time.spec.ts
  packages/core/src/helpers/time/time.ts
  packages/react/src/components/tooltip/tooltip.stories.tsx
  packages/react/src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: tweak coverage
  .nycrc.json
Due: prettier --write

docs: reorder placement matrix
  packages/core/src/components/popover/popover.stories.ts
  packages/core/src/components/tooltip/tooltip.stories.ts
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/tooltip/tooltip.stories.tsx
Due: prettier --write, eslint --fix

chore: update snapshot
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Popover/All Combinations.snap.png
Due: none

feat: implement tooltip (#883)
  .nycrc.json
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Popover/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Tooltip/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Tooltip/All Combinations.snap.png
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/popover/popover.story.tsx
  packages/core/src/components/tooltip/tooltip.scss
  packages/core/src/components/tooltip/tooltip.stories.ts
  packages/core/src/components/tooltip/tooltip.story.tsx
  packages/core/src/components/tooltip/tooltip.ts
  packages/core/src/helpers/index.scss
  packages/core/src/helpers/time/time.scss
  packages/core/src/helpers/time/time.spec.ts
  packages/core/src/helpers/time/time.ts
  packages/react/src/components/tooltip/tooltip.stories.tsx
  packages/react/src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --fix, stylelint --fix

docs: omit popover class
  packages/core/src/components/popover/popover.stories.ts
Due: prettier --write, eslint --fix

docs: refactor type arguments and omit
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/field-label/field-label.stories.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.stories.tsx
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/progress/progress.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/search/search.stories.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/spinner/spinner.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

fix(react): popover with portal reposition on document resize
  packages/react/src/components/popover/popover.tsx
  packages/react/src/components/popover/useObserver.spec.ts
  packages/react/src/components/popover/useObserver.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/useDebounce/useDebounce.spec.ts
  packages/react/src/utils/useDebounce/useDebounce.ts
  packages/react/src/utils/useObserver/index.ts
  packages/react/src/utils/useObserver/useIntersectionObserver.spec.ts
  packages/react/src/utils/useObserver/useIntersectionObserver.ts
  packages/react/src/utils/useObserver/useObserver.spec.ts
  packages/react/src/utils/useObserver/useObserver.ts
  packages/react/src/utils/useObserver/useResizeObserver.spec.ts
  packages/react/src/utils/useObserver/useResizeObserver.ts
  packages/react/src/utils/useOnClickOutside/useOnClickOutside.spec.ts
  packages/react/src/utils/useOnClickOutside/useOnClickOutside.ts
Due: prettier --write, eslint --fix

chore: remove @returns
  packages/react/src/utils/useDebounce/useDebounce.ts
Due: prettier --write, eslint --fix

fix(react): popover with portal reposition on document resize (#925)
  packages/react/src/components/popover/popover.tsx
  packages/react/src/components/popover/useObserver.spec.ts
  packages/react/src/components/popover/useObserver.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/useDebounce/useDebounce.spec.ts
  packages/react/src/utils/useDebounce/useDebounce.ts
  packages/react/src/utils/useObserver/index.ts
  packages/react/src/utils/useObserver/useIntersectionObserver.spec.ts
  packages/react/src/utils/useObserver/useIntersectionObserver.ts
  packages/react/src/utils/useObserver/useObserver.spec.ts
  packages/react/src/utils/useObserver/useObserver.ts
  packages/react/src/utils/useObserver/useResizeObserver.spec.ts
  packages/react/src/utils/useObserver/useResizeObserver.ts
  packages/react/src/utils/useOnClickOutside/useOnClickOutside.spec.ts
  packages/react/src/utils/useOnClickOutside/useOnClickOutside.ts
Due: prettier --write, eslint --fix

docs: better control for Tooltip [show]
  packages/core/src/components/tooltip/tooltip.stories.ts
  packages/react/src/components/tooltip/tooltip.stories.tsx
Due: prettier --write, eslint --fix

docs: better control for Tooltip [show] (#929)
  packages/core/src/components/tooltip/tooltip.stories.ts
  packages/react/src/components/tooltip/tooltip.stories.tsx
Due: prettier --write, eslint --fix

chore: optimising sideEffect to exclude CSS from tree shaking
  packages/core/package.json
Due: prettier --write

chore: optimising sideEffect to exclude CSS from tree shaking (#936)
  packages/core/package.json
Due: prettier --write

chore(release): 1.5.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 1.5.0 (#937)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

feat!: icon requires aria-hidden or aria-label
  docs/helpers/aria.ts
  docs/helpers/story.d.ts
  docs/index.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/icon/icon.story.tsx
  packages/core/src/components/icon/icon.ts
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/icon/icon.tsx
Due: prettier --write, eslint --fix

build: fix
  examples/react-emotion-ts-parcel/src/App.tsx
  examples/react-scss-ts-parcel/src/App.tsx
  packages/core/src/components/icon/icon.stories.ts
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

feat!: icon requires aria-hidden or aria-label (#714)
  docs/helpers/aria.ts
  docs/helpers/story.d.ts
  docs/index.ts
  examples/react-emotion-ts-parcel/src/App.tsx
  examples/react-scss-ts-parcel/src/App.tsx
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/icon/icon.story.tsx
  packages/core/src/components/icon/icon.ts
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/icon/icon.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

feat(react): don't allow using "children" prop for adding input/textarea label
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/field-label-wrapper/field-label-wrapper.tsx
  packages/react/src/internal/index.ts
Due: prettier --write, eslint --fix

feat(react): don't allow using "children" prop for adding input/textarea label (#641)
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/field-label-wrapper/field-label-wrapper.tsx
  packages/react/src/internal/index.ts
Due: prettier --write, eslint --fix

build: use esbuild rather than babel
  .postcssrc.json
  .storybook/main.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: accept suggestion
  .storybook/main.ts
Due: prettier --write, eslint --fix

build: use esbuild rather than babel (#966)
  .postcssrc.json
  .storybook/main.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(react): popover screen aware
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --fix

build: use storybook --modern for local dev
  package.json
Due: prettier --write

build: use vite for storybook
  .gitignore
  .postcssrc.json
  .storybook/main.ts
  docs/_core/_core.stories.tsx
  docs/_core/borders/borders.stories.tsx
  docs/_core/colors/colors.stories.tsx
  docs/_core/spacing/spacing.stories.tsx
  docs/_core/theming/theming.stories.tsx
  docs/_core/typography/typography.stories.tsx
  docs/_react/_react.stories.tsx
  docs/decorators/container.scss
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Popover/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Tooltip/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Checkbox/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Popover/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Radio/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Tooltip/All Combinations.snap.png
  examples/svg-modules.d.ts
  modules.d.ts
  package.json
  packages/core/src/animations/spin.scss
  packages/core/src/mixins/index.scss
  packages/core/src/mixins/keyframes.scss
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

docs: rename Core to CSS
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/field-label/field-label.stories.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/popover/popover.stories.ts
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/tooltip/tooltip.stories.ts
Due: prettier --write, eslint --fix

docs: rename Core to CSS (#972)
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/field-label/field-label.stories.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/popover/popover.stories.ts
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/tooltip/tooltip.stories.ts
Due: prettier --write, eslint --fix

build: use storybook --modern for local dev (#964)
  package.json
Due: prettier --write

chore: better names for placement tuple
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --fix

chore(deps): update jest
  package.json
  yarn.lock
Due: prettier --write

chore: update contributing
  CONTRIBUTING.md
Due: prettier --write

chore: update node version
  .nvmrc
  Dockerfile.cypress
  package.json
Due: prettier --write

feat(react): popover screen aware (#947)
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --fix

chore(deps): update jest (#962)
  .nvmrc
  CONTRIBUTING.md
  Dockerfile.cypress
  package.json
  yarn.lock
Due: prettier --write
