Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

build: fix husky v5 integration
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .huskyrc.json
  package.json
Due: prettier --write

build: fix husky v5 integration (#302)
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .huskyrc.json
  package.json
Due: prettier --write

style: apply suggestions from code review
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

docs: show how to make optional and required field-label (#292)
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

docs: correct color of "required" indication
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

docs: correct color of "required" indication (#308)
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

feat: add validation component
  packages/core/src/components/index.scss
  packages/core/src/components/validation/validation.scss
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix, stylelint --fix

docs: align info about sprite usage with other components
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

feat: add (additional) field component (used as a wrapper)
  packages/core/src/components/field/field.scss
  packages/core/src/components/index.scss
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/field/field.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: don't set modifier for showing icon
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

docs: inform that sprite is needed only in certain case
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

refactor: name prop as "with" icon instead of "show"
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

feat: add "state" to validation
  packages/core/src/components/index.ts
  packages/core/src/components/validation/validation.scss
  packages/core/src/components/validation/validation.ts
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix, stylelint --fix

docs: make better "optional" and "required" field-label examples
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

feat: add validation component (#303)
  packages/core/src/components/field/field.scss
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/validation/validation.scss
  packages/core/src/components/validation/validation.ts
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/field/field.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix, stylelint --fix

style: apply suggestion from code review
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

docs: make better "required" field-label example (#321)
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

docs(react): identify that helper-text also used for field-label
  packages/react/src/components/helper-text/helper-text.tsx
Due: prettier --write, eslint --fix

docs(react): identify that helper-text also used for field-label (#294)
  packages/react/src/components/helper-text/helper-text.tsx
Due: prettier --write, eslint --fix

docs: inform about using with typescript
  packages/core/README.md
  packages/react/README.md
Due: prettier --write

style: apply suggestions from code review
  packages/core/README.md
  packages/react/README.md
Due: prettier --write

docs: inform about using with typescript (#325)
  packages/core/README.md
  packages/react/README.md
Due: prettier --write

feat: add asterisk component
  packages/core/src/components/asterisk/asterisk.scss
  packages/core/src/components/index.scss
  packages/react/src/components/asterisk/asterisk.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

style: apply suggestions from code review
  packages/react/src/components/asterisk/asterisk.tsx
Due: prettier --write, eslint --fix

feat: add asterisk component (#326)
  packages/core/src/components/asterisk/asterisk.scss
  packages/core/src/components/index.scss
  packages/react/src/components/asterisk/asterisk.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(checkbox): space full width correctly
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

fix(core): correct "disabled" styling for checkbox and radio
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

fix(core): correctly space full width checkbox and radio (#327)
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

fix(core): correct "disabled" styling for checkbox and radio (#328)
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

feat(core): add .-touched:invalid as an alternative to .-invalid
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
  packages/core/src/mixins/as-text-input.scss
Due: prettier --write, stylelint --fix

feat: support custom transition-duration
  packages/core/src/components/button/button.scss
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
  packages/core/src/mixins/as-text-input.scss
  packages/core/src/theme/theme.scss
Due: prettier --write, stylelint --fix

fix: variable placement in theme mixin
  packages/core/src/theme/theme.scss
Due: prettier --write, stylelint --fix

refactor: emit media query before content
  packages/core/src/theme/theme.scss
Due: prettier --write, stylelint --fix

chore: accept suggestion
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

feat(core): add .-touched:invalid as an alternative to .-invalid (#329)
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
  packages/core/src/mixins/as-text-input.scss
Due: prettier --write, stylelint --fix

feat: add fieldset component
  packages/core/src/components/fieldset/fieldset.scss
  packages/core/src/components/index.scss
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/fieldset/fieldset.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

style: apply suggestion from code review
  packages/core/src/components/fieldset/fieldset.scss
Due: prettier --write, stylelint --fix

feat: add fieldset component (#333)
  packages/core/src/components/fieldset/fieldset.scss
  packages/core/src/components/index.scss
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/fieldset/fieldset.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: add fieldset-legend component
  packages/core/src/components/fieldset-legend/fieldset-legend.scss
  packages/core/src/components/index.scss
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.stories.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

style: apply suggestions from code review
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
Due: prettier --write, eslint --fix
