Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

docs: correct "release" command example to use yarn instead of npm (#384)
  CONTRIBUTING.md
Due: prettier --write

docs: suggest to protect release branches (#385)
  CONTRIBUTING.md
Due: prettier --write

feat: set background color for "bordered" indicator container (#386)
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

docs: optimize storybook theming by including base tokens only once
  docs/themer/themes.scss
Due: prettier --write, stylelint --fix

docs: optimize storybook theming by including base tokens only once (#400)
  docs/themer/themes.scss
Due: prettier --write, stylelint --fix

docs: document theming on storybook
  docs/_core/theming/creating-theme.story.tsx
  docs/_core/theming/intro.story.tsx
  docs/_core/theming/theming.stories.tsx
Due: prettier --write, eslint --fix

style: apply suggestions from code review
  docs/_core/theming/creating-theme.story.tsx
  docs/_core/theming/intro.story.tsx
Due: prettier --write, eslint --fix

style: use plural "versions"
  docs/_core/theming/intro.story.tsx
Due: prettier --write, eslint --fix

style: use singular "file"
  docs/_core/theming/intro.story.tsx
Due: prettier --write, eslint --fix

docs: inform about theme class naming (and theme mixin)
  docs/_core/theming/creating-theme.story.tsx
Due: prettier --write, eslint --fix

docs: document theming on storybook (#401)
  docs/_core/theming/creating-theme.story.tsx
  docs/_core/theming/intro.story.tsx
  docs/_core/theming/theming.stories.tsx
Due: prettier --write, eslint --fix

fix: merge issue
  .storybook/custom/prepareForInline.tsx
  docs/colors.ts
  docs/colors/index.ts
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/core/src/components/button/button.story.tsx
Due: prettier --write, eslint --fix

docs: update button react
  packages/react/src/components/button/button.stories.tsx
Due: prettier --write, eslint --fix

fix: react source snippet with matrix
  .storybook/custom/transformSource.ts
  docs/helpers/matrix/reactMatrix.tsx
Due: prettier --write, eslint --fix

chore: rename html component
  .storybook/custom/prepareForInline.tsx
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/core/src/components/icon/icon.stories.ts
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/core/src/components/icon/icon.story.tsx
Due: prettier --write, eslint --fix

chore: accept suggestion
  docs/helpers/html.ts
Due: prettier --write, eslint --fix

test: ignore stories.ts
  jest.config.js
Due: prettier --write, eslint --fix

refactor: make it nice
  .eslintrc.json
  .storybook/custom/prepareForInline.tsx
  .storybook/custom/transformSource.ts
  .storybook/preview.ts
  docs/colors.ts
  docs/decorators/container.scss
  docs/decorators/withContainer.tsx
  docs/decorators/withSpacer.tsx
  docs/helpers/matrix/reactMatrix.tsx
  docs/index.ts
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/button/button.story.tsx
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/icon/icon.story.tsx
  packages/core/tsconfig.json
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/icon/icon.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: render role when is anchor
  packages/core/src/components/button/button.story.tsx
Due: prettier --write, eslint --fix

feat: also remove space strings from react source code
  .storybook/custom/transformSource.ts
Due: prettier --write, eslint --fix

chore: update javascript href
  packages/core/src/components/button/button.stories.ts
Due: prettier --write, eslint --fix

feat: html stories support
  .storybook/custom/container.scss
  .storybook/custom/index.ts
  .storybook/custom/prepareForInline.tsx
  .storybook/custom/storySort.ts
  .storybook/custom/transformSource.ts
  .storybook/main.cjs
  .storybook/preview.ts
  docs/decorators/themes.scss
  docs/decorators/withIcons.tsx
  docs/decorators/withSpacer.tsx
  docs/decorators/withTheme.tsx
  docs/helpers/docs.ts
  docs/helpers/html.ts
  docs/helpers/matrix/combinations.ts
  docs/helpers/matrix/combine.ts
  docs/helpers/matrix/getEntries.ts
  docs/helpers/matrix/htmlMatrix.ts
  docs/helpers/matrix/index.ts
  docs/helpers/matrix/reactMatrix.tsx
  docs/helpers/matrix/types.d.ts
  docs/helpers/story.d.ts
  docs/icons/react.tsx
  docs/index.ts
  docs/spacer/react.tsx
  docs/storyOf/index.ts
  docs/storyOf/storyOf.tsx
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/button/button.story.tsx
  packages/core/src/components/button/button.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/icon/icon.story.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: container display issue
  docs/decorators/container.scss
  docs/decorators/withContainer.tsx
  docs/helpers/story.d.ts
  packages/core/src/components/button/button.stories.ts
  packages/react/src/components/button/button.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: accept suggestion
  .storybook/custom/transformSource.ts
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/core/src/components/button/button.stories.ts
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/core/src/components/button/button.ts
Due: prettier --write, eslint --fix

refactor: integrate containerparams
  docs/decorators/withContainer.tsx
  docs/helpers/story.d.ts
Due: prettier --write, eslint --fix

chore: remove hard-coded order for children
  packages/core/src/components/button/button.stories.ts
  packages/react/src/components/button/button.stories.tsx
Due: prettier --write, eslint --fix

fix(react): exclude "children" from search component props type
  packages/react/src/components/search/search.tsx
Due: prettier --write, eslint --fix

feat: html stories support (#249)
  .eslintrc.json
  .storybook/custom/index.ts
  .storybook/custom/prepareForInline.tsx
  .storybook/custom/storySort.ts
  .storybook/custom/transformSource.ts
  .storybook/main.cjs
  .storybook/preview.ts
  docs/colors/index.ts
  docs/decorators/container.scss
  docs/decorators/themes.scss
  docs/decorators/withContainer.tsx
  docs/decorators/withIcons.tsx
  docs/decorators/withTheme.tsx
  docs/helpers/docs.ts
  docs/helpers/html.ts
  docs/helpers/matrix/combinations.ts
  docs/helpers/matrix/combine.ts
  docs/helpers/matrix/getEntries.ts
  docs/helpers/matrix/htmlMatrix.ts
  docs/helpers/matrix/index.ts
  docs/helpers/matrix/reactMatrix.tsx
  docs/helpers/matrix/types.d.ts
  docs/helpers/story.d.ts
  docs/icons/react.tsx
  docs/index.ts
  docs/spacer/react.tsx
  docs/storyOf/index.ts
  docs/storyOf/storyOf.scss
  docs/storyOf/storyOf.tsx
  jest.config.js
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/button/button.story.tsx
  packages/core/src/components/button/button.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/icon/icon.story.tsx
  packages/core/tsconfig.json
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/icon/icon.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(react): exclude "children" from search component props type (#411)
  packages/react/src/components/search/search.tsx
Due: prettier --write, eslint --fix

fix(core): correct style of "invalid" input's placeholder
  packages/core/src/mixins/as-text-input.scss
Due: prettier --write, stylelint --fix

chore: allow to use underscored (starting with "_") unused vars
  .eslintrc.json
Due: prettier --write

fix(core): set placeholder opacity so each browser is aligned
  packages/core/src/mixins/as-text-input.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
