Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

feat: add search component (#109)
  packages/core/src/components/index.scss
  packages/core/src/components/search/search.scss
  packages/core/src/helpers/space/space.scss
  packages/core/src/helpers/space/space.spec.ts
  packages/core/src/helpers/space/space.ts
  packages/core/style/components/search.scss
  packages/react/src/components/button/button.react.stories.tsx
  packages/react/src/components/button/button.react.tsx
  packages/react/src/components/icon/icon.react.stories.tsx
  packages/react/src/components/icon/icon.react.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.react.stories.tsx
  packages/react/src/components/input/input.react.tsx
  packages/react/src/components/search/search.react.stories.tsx
  packages/react/src/components/search/search.react.tsx
  packages/react/src/components/textarea/textarea.react.stories.tsx
  packages/react/src/components/textarea/textarea.react.tsx
  packages/react/src/index.ts
  packages/react/src/input/input.react.tsx
  packages/react/src/utils/index.ts
  packages/react/src/utils/withRef.spec.ts
  packages/react/src/utils/withRef.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore(release): 1.0.0-rc.2
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 1.0.0-rc.2 (#119)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore: use official npm registry
  .npmrc
  yarn.lock
Due: none

chore: use official npm registry (#121)
  .npmrc
  yarn.lock
Due: none

chore: use official npm registry when executing yarn
  .npmrc
  .yarnrc
Due: none

chore: use official npm registry when executing yarn (#123)
  .npmrc
  .yarnrc
Due: none

chore: use dependabot app instead of github integrated (alpha) one
  .dependabot/config.yml
  .github/dependabot.yml
  .yarnrc
  yarn.lock
Due: prettier --write

chore: use dependabot app instead of github integrated (alpha) one (#124)
  .dependabot/config.yml
  .github/dependabot.yml
  .yarnrc
  yarn.lock
Due: prettier --write

chore: do not use github dependabot
  .github/dependabot.yml
Due: prettier --write

chore: do not use github dependabot (#125)
  .github/dependabot.yml
Due: prettier --write

ci: commitlint exclude dependabot (preview)
  .github/workflows/lint.yml
Due: prettier --write

chore: set default dependabot labels
  .dependabot/config.yml
Due: prettier --write

chore: set default dependabot labels (#132)
  .dependabot/config.yml
Due: prettier --write

ci: commitlint exclude dependabot (preview) (#131)
  .github/workflows/lint.yml
Due: prettier --write

fix(react): export search component
  packages/react/src/components/index.ts
Due: prettier --write, eslint --fix

fix(react): export search component (#141)
  packages/react/src/components/index.ts
Due: prettier --write, eslint --fix

refactor(react): enhance form components
  packages/react/src/components/input/input.react.stories.tsx
  packages/react/src/components/input/input.react.tsx
  packages/react/src/components/search/search.react.stories.tsx
  packages/react/src/components/search/search.react.tsx
  packages/react/src/components/textarea/textarea.react.stories.tsx
  packages/react/src/components/textarea/textarea.react.tsx
Due: prettier --write, eslint --fix

refactor(react): enhance form components (#142)
  packages/react/src/components/input/input.react.stories.tsx
  packages/react/src/components/input/input.react.tsx
  packages/react/src/components/search/search.react.stories.tsx
  packages/react/src/components/search/search.react.tsx
  packages/react/src/components/textarea/textarea.react.stories.tsx
  packages/react/src/components/textarea/textarea.react.tsx
Due: prettier --write, eslint --fix

refactor(react): import from castor-react package
  packages/react/src/components/button/button.react.stories.tsx
  packages/react/src/components/icon/icon.react.stories.tsx
  packages/react/src/components/input/input.react.stories.tsx
  packages/react/src/components/search/search.react.stories.tsx
  packages/react/src/components/textarea/textarea.react.stories.tsx
Due: prettier --write, eslint --fix

refactor(react): import from castor-react package (#145)
  packages/react/src/components/button/button.react.stories.tsx
  packages/react/src/components/icon/icon.react.stories.tsx
  packages/react/src/components/input/input.react.stories.tsx
  packages/react/src/components/search/search.react.stories.tsx
  packages/react/src/components/textarea/textarea.react.stories.tsx
Due: prettier --write, eslint --fix

feat: generate tokens with theo
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  package.json
  packages/core/src/theme/aliases.json
  packages/core/src/theme/tokens.json
  packages/core/src/theme/tokens.scss
  scripts/.eslintrc.json
  scripts/formats/tokens.scss.hbs
  scripts/generate.ts
Due: prettier --write, eslint --fix, stylelint --fix

style: apply suggestions from code review
  CONTRIBUTING.md
  scripts/generate.ts
Due: prettier --write, eslint --fix

refactor: assume prop value is always a string
  scripts/formats/tokens.scss.hbs
Due: none

build: better identify command for token generation
  package.json
Due: prettier --write

refactor: use prop category to simplify prop name
  packages/core/src/theme/tokens.json
  scripts/formats/tokens.scss.hbs
Due: prettier --write

refactor: don't kebab-case prop name
  scripts/formats/tokens.scss.hbs
Due: none

refactor: merge theo aliases into tokens
  packages/core/src/theme/aliases.json
  packages/core/src/theme/tokens.json
Due: prettier --write

chore: sort missing dependencies after bad rebase
  package.json
  yarn.lock
Due: prettier --write

chore: rename script for token generation
  package.json
  scripts/generate-tokens.ts
Due: prettier --write, eslint --fix

chore: use "variant" instead of "type" to define different generation variations
  scripts/generate-tokens.ts
Due: prettier --write, eslint --fix

feat: generate tokens with theo (#136)
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  package.json
  packages/core/src/theme/tokens.json
  packages/core/src/theme/tokens.scss
  scripts/.eslintrc.json
  scripts/formats/tokens.scss.hbs
  scripts/generate-tokens.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

refactor(core): make sass variables private
  .stylelintrc.json
  packages/core/src/helpers/border-radius/border-radius.scss
  packages/core/src/helpers/color/color.scss
  packages/core/src/helpers/font/font.scss
  packages/core/src/helpers/space/space.scss
  packages/core/src/mixins/with-focus.scss
Due: prettier --write, stylelint --fix

docs: add textarea component "resize" table options
  packages/react/src/components/textarea/textarea.react.stories.tsx
Due: prettier --write, eslint --fix

refactor(core): make sass variables private (#155)
  .stylelintrc.json
  packages/core/src/helpers/border-radius/border-radius.scss
  packages/core/src/helpers/color/color.scss
  packages/core/src/helpers/font/font.scss
  packages/core/src/helpers/space/space.scss
  packages/core/src/mixins/with-focus.scss
Due: prettier --write, stylelint --fix

feat(core): allow space to be used with any number
  packages/core/src/helpers/space/space.scss
  packages/core/src/helpers/space/space.spec.ts
  packages/core/src/helpers/space/space.ts
Due: prettier --write, eslint --fix, stylelint --fix

docs: add textarea component "resize" table options (#157)
  packages/react/src/components/textarea/textarea.react.stories.tsx
Due: prettier --write, eslint --fix

feat(core): allow space to be used with any number (#156)
  packages/core/src/helpers/space/space.scss
  packages/core/src/helpers/space/space.spec.ts
  packages/core/src/helpers/space/space.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(core): correct sass variable usage
  packages/core/src/mixins/with-focus.scss
Due: prettier --write, stylelint --fix

ci: preview on pull request
  .github/workflows/preview.yml
Due: prettier --write
