Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: configure stylelint with vscode
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore: configure rulers for vscode
  .vscode/settings.json
Due: prettier --write

docs(react): always set href for button even when it's empty string
  packages/react/src/components/button/button.stories.tsx
Due: prettier --write, eslint --fix

style(react): comment regarding "disabled" button set by from
  packages/react/src/components/button/button.tsx
Due: prettier --write, eslint --fix

docs(react): refactor checkbox & radio stories
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
Due: prettier --write, eslint --fix

docs(react): no "label" prop for input/textarea with validation stories
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

docs(react): always select default radio
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/spinner/spinner.stories.tsx
Due: prettier --write, eslint --fix

docs(react): correct example of field validation, "minLength" prop
  packages/react/src/components/field/field.tsx
Due: prettier --write, eslint --fix

docs(react): correct example of field validation, "minLength" prop (#613)
  packages/react/src/components/field/field.tsx
Due: prettier --write, eslint --fix

docs(react): always select default radio (#612)
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/spinner/spinner.stories.tsx
Due: prettier --write, eslint --fix

docs(react): always set href for button even when it's empty string (#609)
  packages/react/src/components/button/button.stories.tsx
Due: prettier --write, eslint --fix

docs(react): no "label" prop for input/textarea with validation stories (#611)
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

docs(react): refactor checkbox & radio stories (#610)
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
Due: prettier --write, eslint --fix

chore: configure stylelint with vscode (#606)
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore: configure rulers for vscode (#607)
  .vscode/settings.json
Due: prettier --write

docs(react): refactor search component stories
  docs/index.ts
  docs/storyOf/storyOf.scss
  docs/storyOf/storyOf.tsx
  packages/react/src/components/search/search.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

docs(react): refactor search component stories (#614)
  docs/index.ts
  docs/storyOf/storyOf.scss
  docs/storyOf/storyOf.tsx
  packages/react/src/components/search/search.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(react): form onSubmit values
  packages/react/src/components/form/getFormValues.spec.ts
  packages/react/src/components/form/getFormValues.ts
Due: prettier --write, eslint --fix

style(react): comment regarding "disabled" button set by from (#608)
  packages/react/src/components/button/button.tsx
Due: prettier --write, eslint --fix

refactor: element type
  packages/react/src/components/form/getFormValues.ts
Due: prettier --write, eslint --fix

feat(core): improve font monospace list
  packages/core/src/helpers/font/font.scss
  packages/core/src/helpers/font/font.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(react): add "label" prop for input/textarea, deprecate usage of "children"
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/field-label-wrapper/field-label-wrapper.tsx
Due: prettier --write, eslint --fix

fix(react): form onSubmit values (#615)
  packages/react/src/components/form/getFormValues.spec.ts
  packages/react/src/components/form/getFormValues.ts
Due: prettier --write, eslint --fix

feat(core): improve font monospace list (#619)
  packages/core/src/helpers/font/font.scss
  packages/core/src/helpers/font/font.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: use better type for "label" prop
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/field-label-wrapper/field-label-wrapper.tsx
Due: prettier --write, eslint --fix

refactor: don't allow using "label" prop, suggest component composition
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/field-label-wrapper/field-label-wrapper.tsx
Due: prettier --write, eslint --fix

test: add visual regression support
  .babelrc.js
  .github/workflows/test.yml
  .gitignore
  .nycrc.json
  cypress.json
  e2e/.eslintrc
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Textarea/All Combinations.snap.png
  e2e/plugins.ts
  e2e/support.ts
  e2e/tsconfig.json
  e2e/visual-regression/all.e2e.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: simplify scripts
  CONTRIBUTING.md
  package.json
Due: prettier --write

fix: instrumentation
  .babelrc.js
  .nycrc.json
  .storybook/main.ts
  package.json
Due: prettier --write, eslint --fix

ci: always store artifacts
  .github/workflows/test.yml
Due: prettier --write

chore: accept suggestion
  CONTRIBUTING.md
Due: prettier --write

docs: update contributing
  CONTRIBUTING.md
Due: prettier --write

chore: lint
  .github/workflows/test.yml
Due: prettier --write

chore: name steps
  .github/workflows/test.yml
Due: prettier --write

ci: try cypress action
  .github/workflows/test.yml
  jest.config.js
Due: prettier --write, eslint --fix

ci: add step for screenshots
  .github/workflows/test.yml
Due: prettier --write

chore: reword
  .github/workflows/test.yml
Due: prettier --write

chore: update screenshots
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Button/All Combinations.snap.png
Due: none

docs: contributing
  CONTRIBUTING.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
