Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

test: split command on how to run locally
  CONTRIBUTING.md
Due: prettier --write

test: run cypress via docker (#854)
  .github/workflows/test.yml
  CONTRIBUTING.md
  Dockerfile.cypress
  docker-compose.mac-open.yml
  docker-compose.yml
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Select/All Combinations.snap.png
  package.json
Due: prettier --write

feat(react): forwardRef all components (#869)
  packages/react/src/components/asterisk/asterisk.tsx
  packages/react/src/components/button/button.tsx
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/field-label/field-label.tsx
  packages/react/src/components/field/field.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.tsx
  packages/react/src/components/fieldset/fieldset.tsx
  packages/react/src/components/form/form.tsx
  packages/react/src/components/helper-text/helper-text.tsx
  packages/react/src/components/icon/icon.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/progress/progress.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/search/search.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/components/spinner/spinner.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

refactor: migrate sass division
  docs/decorators/container.scss
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

refactor: migrate sass division (#879)
  docs/decorators/container.scss
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

docs: remove "fix" for using react-docgen with typescript on storybook
  .storybook/main.ts
Due: prettier --write, eslint --fix

docs: remove "fix" for using react-docgen with typescript on storybook (#776)
  .storybook/main.ts
Due: prettier --write, eslint --fix

test: mount additional volumes during e2e testing
  Dockerfile.cypress
  docker-compose.yml
Due: prettier --write

test: mount additional volumes during e2e testing (#881)
  Dockerfile.cypress
  docker-compose.yml
Due: prettier --write

docs: improve stories
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/progress/progress.stories.tsx
  packages/react/src/components/spinner/spinner.stories.tsx
Due: prettier --write, eslint --fix

docs: convert options array to summary string with helper
  docs/helpers/docs.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/progress/progress.stories.tsx
  packages/react/src/components/spinner/spinner.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

style: type input to convert options to summary
  docs/helpers/docs.ts
Due: prettier --write, eslint --fix

docs: improve stories (#882)
  docs/helpers/docs.ts
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/progress/progress.stories.tsx
  packages/react/src/components/spinner/spinner.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

test: wait until root rendered to take screenshots
  e2e/visual-regression/all.e2e.ts
Due: prettier --write, eslint --fix

test: change wait condition for screenshot
  e2e/visual-regression/all.e2e.ts
Due: prettier --write, eslint --fix

test: update coverage thresholds
  .nycrc.json
Due: prettier --write

test: update wait conditions
  e2e/visual-regression/all.e2e.ts
Due: prettier --write, eslint --fix

refactor: put theme in a constant
  e2e/visual-regression/all.e2e.ts
Due: prettier --write, eslint --fix

test: update snapshots
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Popover/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Popover/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Select/All Combinations.snap.png
Due: none

test: update snapshots
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Popover/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Select/All Combinations.snap.png
Due: none

test: remove cy.wait
  cypress.json
  e2e/visual-regression/all.e2e.ts
Due: prettier --write, eslint --fix

refactor: popover styles
  packages/core/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

test: cover hooks
  packages/react/src/components/popover/useObserver.spec.ts
  packages/react/src/components/popover/useOnClickOutside.spec.ts
Due: prettier --write, eslint --fix

feat: implement popover
  docs/decorators/withContainer.tsx
  docs/helpers/html.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/popover/popover.scss
  packages/core/src/components/popover/popover.stories.ts
  packages/core/src/components/popover/popover.story.tsx
  packages/core/src/components/popover/popover.ts
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/popover/popover.tsx
  packages/react/src/components/popover/useObserver.ts
  packages/react/src/components/popover/useOnClickOutside.ts
Due: prettier --write, eslint --fix, stylelint --fix

test: add Cypress run retries
  cypress.json
Due: prettier --write

feat: useOnClickOutside will not listen if empty targets array
  packages/react/src/components/popover/useObserver.spec.ts
  packages/react/src/components/popover/useOnClickOutside.spec.ts
  packages/react/src/components/popover/useOnClickOutside.ts
Due: prettier --write, eslint --fix

refactor: rename place to position
  packages/core/src/components/popover/popover.stories.ts
  packages/core/src/components/popover/popover.story.tsx
  packages/core/src/components/popover/popover.ts
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --fix

build(react): add peerDependency `react-dom`
  packages/react/package.json
Due: prettier --write

refactor: only one observer
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --fix

chore: tweak coverage
  .nycrc.json
Due: prettier --write

docs: improve stories
  .storybook/custom/transformSource.ts
  packages/core/src/components/popover/popover.stories.ts
  packages/react/src/components/popover/popover.stories.tsx
Due: prettier --write, eslint --fix

chore: remove sass:map import
  packages/core/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

docs: withPortal
  packages/react/src/components/popover/popover.stories.tsx
Due: prettier --write, eslint --fix

chore: update snapshots
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Popover/All Combinations.snap.png
Due: none

docs: popoverprops
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --fix

docs: rename
  packages/core/src/components/popover/popover.stories.ts
  packages/react/src/components/popover/popover.stories.tsx
Due: prettier --write, eslint --fix

refactor: split placement
  packages/core/src/components/popover/popover.scss
  packages/core/src/components/popover/popover.stories.ts
  packages/core/src/components/popover/popover.story.tsx
  packages/core/src/components/popover/popover.ts
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: remove vanilla anchor
  packages/core/src/components/popover/popover.story.tsx
Due: prettier --write, eslint --fix

refactor: optionsToSummary
  packages/core/src/components/popover/popover.stories.ts
  packages/react/src/components/popover/popover.stories.tsx
Due: prettier --write, eslint --fix

chore: update snapshot
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Popover/All Combinations.snap.png
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
