Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

style: apply suggestion from code review
  packages/react/src/components/fieldset-legend/fieldset-legend.tsx
Due: prettier --write, eslint --fix

feat: add fieldset-legend component (#338)
  packages/core/src/components/fieldset-legend/fieldset-legend.scss
  packages/core/src/components/index.scss
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.stories.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: cut back to only support for current transitions
  packages/core/src/components/button/button.scss
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
  packages/core/src/mixins/as-text-input.scss
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
Due: prettier --write, stylelint --fix

fix: themes transition duration
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
Due: prettier --write, stylelint --fix

chore: accept suggestion
  packages/core/src/theme/theme.scss
Due: prettier --write, stylelint --fix

feat: support custom transition-duration (#330)
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/theme/theme.scss
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
Due: prettier --write, stylelint --fix

style: fix odd prettier issue with newline
  packages/core/src/theme/theme.scss
Due: prettier --write, stylelint --fix

style: fix odd prettier issue with newline (#362)
  packages/core/src/theme/theme.scss
Due: prettier --write, stylelint --fix

build: use default .gitignore for husky
  .husky/.gitignore
Due: none

build: use default .gitignore for husky (#361)
  .husky/.gitignore
Due: none

chore(release): 1.1.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 1.1.0 (#363)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

build(deps): bump @emotion/styled from 10.0.27 to 11.1.5
  examples/react-emotion-ts-parcel/package.json
  yarn.lock
Due: prettier --write

chore: dependabot ignore autoprefixer 10 upgrades
  .dependabot/config.yml
Due: prettier --write

docs: include theme color tokens for storybook
  docs/colors/colors.ts
  docs/colors/index.ts
  docs/colors/tokens.scss
  docs/index.ts
  docs/tokens.scss
  packages/react/src/components/icon/icon.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: dependabot ignore autoprefixer 10 upgrades (#375)
  .dependabot/config.yml
Due: prettier --write

chore: dependabot ignore postcss-modules 4 upgrades
  .dependabot/config.yml
Due: prettier --write

chore: dependabot ignore postcss-modules 4 upgrades (#376)
  .dependabot/config.yml
Due: prettier --write

docs: include theme color tokens for storybook (#377)
  docs/colors/colors.ts
  docs/colors/index.ts
  docs/colors/tokens.scss
  docs/index.ts
  docs/tokens.scss
  packages/react/src/components/icon/icon.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: checkbox grid and ghost gap
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

build: generate bundle for prototyping
  .browserslistrc
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .gitignore
  CONTRIBUTING.md
  package.json
  packages/react/README.md
  packages/react/package.json
Due: prettier --write

fix: checkbox grid and ghost gap (#380)
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

build: update browserslist db
  yarn.lock
Due: none

style: apply suggestions from code review
  .browserslistrc
  packages/react/README.md
Due: prettier --write

chore: name prototype as "prototype.js"
  .gitignore
  package.json
  packages/react/README.md
  packages/react/package.json
Due: prettier --write

chore: use same config for browserslist everywhere
  .browserslistrc
  examples/custom-themes/.browserslistrc
  examples/html-css-js-parcel/.browserslistrc
  examples/html-scss-ts-parcel/.browserslistrc
  examples/react-emotion-ts-parcel/.browserslistrc
  examples/react-scss-ts-parcel/.browserslistrc
Due: none

chore: correctly remove old prototype files
  package.json
Due: prettier --write

chore: generate source maps for prototype
  .gitignore
  package.json
  packages/react/package.json
Due: prettier --write

chore: use esbuild to generate prototype
  .browserslistrc
  CONTRIBUTING.md
  package.json
Due: prettier --write

build: set global name for prototype
  package.json
Due: prettier --write

docs: identify about iife format used
  packages/react/README.md
Due: prettier --write

build: generate bundle for prototyping (#381)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .gitignore
  CONTRIBUTING.md
  examples/custom-themes/.browserslistrc
  examples/html-css-js-parcel/.browserslistrc
  examples/html-scss-ts-parcel/.browserslistrc
  examples/react-emotion-ts-parcel/.browserslistrc
  examples/react-scss-ts-parcel/.browserslistrc
  package.json
  packages/react/README.md
  packages/react/package.json
  yarn.lock
Due: prettier --write

fix(core): correct background color of simulated input
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

fix(core): correct background color of simulated input (#383)
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

chore(release): 1.1.1
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

docs: correct "release" command example to use yarn instead of npm
  CONTRIBUTING.md
Due: prettier --write

docs: suggest to protect release branches
  CONTRIBUTING.md
Due: prettier --write

feat: set background color for "bordered" indicator container
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
