Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

chore: allow to use underscored (starting with "_") unused vars (#416)
  .eslintrc.json
Due: prettier --write

fix(core): set placeholder opacity so each browser is aligned (#417)
  packages/core/src/mixins/as-text-input.scss
Due: prettier --write, stylelint --fix

fix(react): exclude "children" from search component props type (#411)
  packages/react/src/components/search/search.tsx
Due: prettier --write, eslint --fix

chore(release): 1.1.2
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

docs: add html input stories
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/input/input.story.tsx
  packages/core/src/components/input/input.ts
  packages/react/src/components/input/input.stories.tsx
Due: prettier --write, eslint --fix

docs: add html textarea stories
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.story.tsx
  packages/core/src/components/textarea/textarea.ts
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

docs: add html textarea stories (#420)
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.story.tsx
  packages/core/src/components/textarea/textarea.ts
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

docs: add html input stories (#419)
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/input/input.story.tsx
  packages/core/src/components/input/input.ts
  packages/react/src/components/input/input.stories.tsx
Due: prettier --write, eslint --fix

docs: correct html textarea "resize", incl. story default value
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.story.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

docs: correct html input "value"
  packages/core/src/components/input/input.stories.ts
Due: prettier --write, eslint --fix

docs: correct html textarea "value"
  packages/core/src/components/textarea/textarea.stories.ts
Due: prettier --write, eslint --fix

docs: set html textarea story value as "children"
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.story.tsx
Due: prettier --write, eslint --fix

docs: improve button stories
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/button/button.ts
  packages/react/src/components/button/button.stories.tsx
Due: prettier --write, eslint --fix

docs: fix import of "color" helper
  packages/core/src/components/icon/icon.story.tsx
Due: prettier --write, eslint --fix

docs: fix import of "color" helper (#426)
  packages/core/src/components/icon/icon.story.tsx
Due: prettier --write, eslint --fix

docs: improve button stories (#427)
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/button/button.ts
  packages/react/src/components/button/button.stories.tsx
Due: prettier --write, eslint --fix

docs: correct html textarea "resize", incl. story default value (#422)
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.story.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

docs: correct html input "value" (#423)
  packages/core/src/components/input/input.stories.ts
Due: prettier --write, eslint --fix

docs: set html textarea story value as "children" (#425)
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.story.tsx
Due: prettier --write, eslint --fix

docs: inform how to setup jest test suite
  packages/core/README.md
Due: prettier --write

style: apply suggestion from code review
  packages/core/README.md
Due: prettier --write

docs: inform how to setup jest test suite (#438)
  packages/core/README.md
Due: prettier --write

fix: correct pointer for checkbox/radio component label
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

fix: correct pointer for checkbox/radio component label (#440)
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

ci: use custom lint commands
  .github/workflows/lint.yml
Due: prettier --write

ci: use custom lint commands (#442)
  .github/workflows/lint.yml
Due: prettier --write

ci: commitlint exclude dependabot (preview)
  .github/workflows/lint.yml
Due: prettier --write

ci: commitlint exclude dependabot (preview) (#444)
  .github/workflows/lint.yml
Due: prettier --write

chore: accept suggestion
  packages/react/src/components/form/getFormValues.ts
Due: prettier --write, eslint --fix

test: cover useField
  packages/react/src/components/field/useField.spec.ts
Due: prettier --write, eslint --fix

refactor: rename Validation [for] => [if]
  packages/core/src/components/validation/validation.ts
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

feat: form
  packages/core/src/components/field/field.scss
  packages/core/src/components/field/field.ts
  packages/core/src/components/form/form.scss
  packages/core/src/components/form/form.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/validation/validation.ts
  packages/core/src/mixins/as-text-input.scss
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/field/field.tsx
  packages/react/src/components/field/index.ts
  packages/react/src/components/field/useField.ts
  packages/react/src/components/fieldset/fieldset.tsx
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/form/form.tsx
  packages/react/src/components/form/getFormValues.spec.ts
  packages/react/src/components/form/getFormValues.ts
  packages/react/src/components/form/index.ts
  packages/react/src/components/form/useForm.ts
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: remove indexes for field and form
  packages/react/src/components/field/field.tsx
  packages/react/src/components/field/index.ts
  packages/react/src/components/form/form.tsx
  packages/react/src/components/form/index.ts
  packages/react/src/components/index.ts
Due: prettier --write, eslint --fix

chore: remove unused refs
  packages/react/src/components/field/field.tsx
  packages/react/src/components/form/form.tsx
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

chore: typo and grid gap
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

refactor: function to const
  packages/react/src/components/field/field.tsx
  packages/react/src/components/fieldset/fieldset.tsx
  packages/react/src/components/form/form.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

test: cover useForm
  packages/react/src/components/form/useForm.spec.ts
Due: prettier --write, eslint --fix

refactor: fieldset and if=invalid
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix
