Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

refactor(progress): change the react examples to the correct order
  packages/react/src/components/progress/progress.stories.tsx
Due: prettier --write, eslint --fix

test(progress): add e2e snapshots
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Progress/All Combinations.snap.png
Due: none

feat: add progress component (#766)
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Progress/All Combinations.snap.png
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/progress/progress.scss
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/progress/progress.story.tsx
  packages/core/src/components/progress/progress.ts
  packages/core/src/utils/cssVars/cssVars.spec.ts
  packages/core/src/utils/cssVars/cssVars.ts
  packages/core/src/utils/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/progress/progress.stories.tsx
  packages/react/src/components/progress/progress.tsx
Due: prettier --write, eslint --fix, stylelint --fix

docs: overcome issue with latest typescript and react-docgen
  .storybook/main.ts
Due: prettier --write, eslint --fix

docs: remove "fix" for using react-docgen with typescript on storybook
  .storybook/main.ts
Due: prettier --write, eslint --fix

docs: cleanup progress component stories
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Progress/All Combinations.snap.png
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/progress/progress.story.tsx
  packages/react/src/components/progress/progress.stories.tsx
  packages/react/src/components/progress/progress.tsx
Due: prettier --write, eslint --fix

docs: cleanup progress component stories (#777)
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Progress/All Combinations.snap.png
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/progress/progress.story.tsx
  packages/react/src/components/progress/progress.stories.tsx
  packages/react/src/components/progress/progress.tsx
Due: prettier --write, eslint --fix

docs: remove webpack constant build issue "fix" on storybook
  .storybook/main.ts
Due: prettier --write, eslint --fix

docs: remove webpack constant build issue "fix" on storybook (#775)
  .storybook/main.ts
Due: prettier --write, eslint --fix

feat: add select (custom) component
  .bundlewatchrc.json
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Select/All Combinations.snap.png
  packages/core/src/components/select/select.scss
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/select/select.story.tsx
  packages/core/src/mixins/with-inner-focus.scss
  packages/core/src/mixins/with-outer-focus.scss
  packages/react/package.json
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/select/custom/custom-option.tsx
  packages/react/src/components/select/custom/custom-select-portal.tsx
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/custom/useCustomSelect.spec.ts
  packages/react/src/components/select/custom/useCustomSelect.ts
  packages/react/src/components/select/native/native-option.tsx
  packages/react/src/components/select/native/native-select.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/components/select/useSelect.spec.ts
  packages/react/src/components/select/useSelect.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/mergeRefs/mergeRefs.spec.ts
  packages/react/src/utils/mergeRefs/mergeRefs.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: add custom select navigation between options on dropdown
  packages/core/src/components/select/select.scss
  packages/react/src/components/select/custom/custom-option.tsx
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/custom/useCustomSelect.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useKeyboardKey/useKeyboardKey.spec.ts
  packages/react/src/hooks/useKeyboardKey/useKeyboardKey.ts
  packages/react/src/utils/mergeRefs/mergeRefs.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: fake regular select to open custom dropdown
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

style: rename function for halting an event
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/hooks/useKeyboardKey/useKeyboardKey.spec.ts
  packages/react/src/hooks/useKeyboardKey/useKeyboardKey.ts
Due: prettier --write, eslint --fix

docs: inform that padding based on spread must stay hardcoded
  packages/core/src/components/select/select.scss
Due: prettier --write, stylelint --fix

refactor: rotate in z-axis (for performant improvement)
  packages/core/src/components/select/select.scss
Due: prettier --write, stylelint --fix

style: set "focused" dropdown to be styled with a regualar border
  packages/core/src/components/select/select.scss
  packages/core/src/mixins/with-inner-focus.scss
  packages/core/src/mixins/with-outer-focus.scss
Due: prettier --write, stylelint --fix

refactor: simplify creating/returning root element
  packages/react/src/components/select/custom/custom-select-portal.tsx
Due: prettier --write, eslint --fix

style: share prefix to generate component and dropdown identificators
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix: do not focus options when not opened (or not "left" button pressed)
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

refactor: extract (and test) custom useKeyboardKey hooks
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/custom/useDropdownKeyboardKey.spec.ts
  packages/react/src/components/select/custom/useDropdownKeyboardKey.ts
  packages/react/src/components/select/custom/useSelectKeyboardKey.spec.ts
  packages/react/src/components/select/custom/useSelectKeyboardKey.ts
  packages/react/src/hooks/useKeyboardKey/useKeyboardKey.spec.ts
Due: prettier --write, eslint --fix

feat: remove focus from option when mouse leaves dropdown
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

refactor: better fake inner-focus
  packages/core/src/components/select/select.scss
Due: prettier --write, stylelint --fix

feat: skip disabled options
  packages/react/src/components/select/custom/custom-option.tsx
  packages/react/src/components/select/custom/useCustomSelect.ts
  packages/react/src/components/select/custom/useDropdownKeyboardKey.spec.ts
  packages/react/src/components/select/custom/useDropdownKeyboardKey.ts
Due: prettier --write, eslint --fix

chore(release): 1.4.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 1.4.0 (#786)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore: don't run commitizen when commiting with message
  .husky/prepare-commit-msg
Due: none

chore: don't run commitizen when commiting with message (#787)
  .husky/prepare-commit-msg
Due: none

chore: remove husky git ignore config
  .husky/.gitignore
Due: none

fix(core): use css properties from csstype, do not rely on react
  packages/core/package.json
  packages/core/src/helpers/font/font.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix(core): use css properties from csstype, do not rely on react (#840)
  packages/core/package.json
  packages/core/src/helpers/font/font.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix(core): font helper CSS-in-JS compatibility
  packages/core/src/helpers/font/font.spec.ts
  packages/core/src/helpers/font/font.ts
Due: prettier --write, eslint --fix

temp
  packages/core/src/components/index.scss
  packages/core/src/components/popover/popover.scss
  packages/core/src/components/select/select.scss
  packages/react/src/components/popover/portal.ts
  packages/react/src/components/select/custom/custom-option-group.tsx
  packages/react/src/components/select/custom/custom-option.tsx
  packages/react/src/components/select/custom/custom-select-portal.tsx
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/custom/index.ts
  packages/react/src/components/select/custom/useCustomSelect.ts
  packages/react/src/components/select/custom/useDropdownKeyboardKey.spec.ts
  packages/react/src/components/select/custom/useDropdownKeyboardKey.ts
  packages/react/src/components/select/custom/useSelectKeyboardKey.spec.ts
  packages/react/src/components/select/custom/useSelectKeyboardKey.ts
  packages/react/src/components/select/native/index.ts
  packages/react/src/components/select/native/native-option-group.tsx
  packages/react/src/components/select/native/native-select.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(core): font helper CSS-in-JS compatibility (#841)
  packages/core/src/helpers/font/font.spec.ts
  packages/core/src/helpers/font/font.ts
Due: prettier --write, eslint --fix

test: update snapshots
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Checkbox/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Radio/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Textarea/All Combinations.snap.png
Due: none

test: run cypress via docker
  .github/workflows/test.yml
  CONTRIBUTING.md
  Dockerfile.cypress
  cypress.json
  docker-compose.yml
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Select/All Combinations.snap.png
  package.json
Due: prettier --write

test: allow cypress open (via xquartz)
  .github/workflows/test.yml
  CONTRIBUTING.md
  docker-compose.open.yml
Due: prettier --write

test: take baseline screenshots
  .github/workflows/test.yml
  CONTRIBUTING.md
Due: prettier --write

feat(react): forwardRef all components
  packages/react/src/components/asterisk/asterisk.tsx
  packages/react/src/components/button/button.tsx
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/field-label/field-label.tsx
  packages/react/src/components/field/field.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.tsx
  packages/react/src/components/fieldset/fieldset.tsx
  packages/react/src/components/form/form.tsx
  packages/react/src/components/helper-text/helper-text.tsx
  packages/react/src/components/icon/icon.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/progress/progress.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/search/search.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/components/spinner/spinner.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

test: inform how to open local cypress during development
  CONTRIBUTING.md
  cypress.json
  docker-compose.mac-open.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
