Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

docs(core): checkbox
  packages/core/src/components/checkbox/checkbox.stories.ts
  packages/core/src/components/checkbox/checkbox.story.tsx
  packages/react/src/components/checkbox/checkbox.stories.tsx
Due: prettier --write, eslint --fix

fix: select empty state
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

fix: select empty state (#1008)
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

chore(release): 1.5.1
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix(react): adds missing tooltip and popover exports
  .bundlewatchrc.json
  packages/core/src/components/popover/popover.story.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/tooltip/tooltip.stories.tsx
Due: prettier --write, eslint --fix

fix(react): adds missing tooltip and popover exports (#1009)
  .bundlewatchrc.json
  packages/core/src/components/popover/popover.story.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/tooltip/tooltip.stories.tsx
Due: prettier --write, eslint --fix

chore(release): 1.5.2
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix(react): tooltip type simplification
  packages/react/src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --fix

fix(react): tooltip type simplification (#1018)
  packages/react/src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --fix

chore(release): 1.5.3
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix(core): popover allows pointer-events
  packages/core/src/components/popover/popover.scss
Due: prettier --write, stylelint --fix

fix(core): tooltip stays visible when itself is :hover
  packages/core/src/components/tooltip/tooltip.scss
Due: prettier --write, stylelint --fix

docs: improve popover
  docs/helpers/story.d.ts
  packages/core/src/components/popover/popover.stories.scss
  packages/core/src/components/popover/popover.stories.ts
  packages/react/src/components/popover/popover.stories.scss
  packages/react/src/components/popover/popover.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

docs(core): checkbox (#1000)
  packages/core/src/components/checkbox/checkbox.stories.ts
  packages/core/src/components/checkbox/checkbox.story.tsx
  packages/react/src/components/checkbox/checkbox.stories.tsx
Due: prettier --write, eslint --fix

docs: transformSource removes React Fragments
  .storybook/custom/transformSource.ts
Due: prettier --write, eslint --fix

docs: transformSource removes React Fragments (#1048)
  .storybook/custom/transformSource.ts
Due: prettier --write, eslint --fix

docs: improve popover (#1019)
  docs/helpers/story.d.ts
  packages/core/src/components/popover/popover.stories.scss
  packages/core/src/components/popover/popover.stories.ts
  packages/react/src/components/popover/popover.stories.scss
  packages/react/src/components/popover/popover.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: better types for withRef
  packages/react/src/components/asterisk/asterisk.tsx
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/button/button.tsx
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/field-label/field-label.tsx
  packages/react/src/components/field/field.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.tsx
  packages/react/src/components/fieldset/fieldset.tsx
  packages/react/src/components/form/form.tsx
  packages/react/src/components/helper-text/helper-text.tsx
  packages/react/src/components/icon/icon.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/progress/progress.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/search/search.tsx
  packages/react/src/components/spinner/spinner.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/components/validation/validation.tsx
  packages/react/src/utils/withRef/withRef.ts
Due: prettier --write, eslint --fix

refactor: better types for withRef (#1054)
  packages/react/src/components/asterisk/asterisk.tsx
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/button/button.tsx
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/field-label/field-label.tsx
  packages/react/src/components/field/field.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.tsx
  packages/react/src/components/fieldset/fieldset.tsx
  packages/react/src/components/form/form.tsx
  packages/react/src/components/helper-text/helper-text.tsx
  packages/react/src/components/icon/icon.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/progress/progress.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/search/search.tsx
  packages/react/src/components/spinner/spinner.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/components/validation/validation.tsx
  packages/react/src/utils/withRef/withRef.ts
Due: prettier --write, eslint --fix

fix(react): button type overloads
  packages/react/src/components/button/button.tsx
Due: prettier --write, eslint --fix

fix(react): button type overloads (#1053)
  packages/react/src/components/button/button.tsx
Due: prettier --write, eslint --fix

refactor: use :enabled instead of :not(:disabled)
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

refactor: use :enabled instead of :not(:disabled) (#1067)
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

feat: add select (custom) component
  .bundlewatchrc.json
  .storybook/styles.scss
  docs/helpers/html.ts
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Progress/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Select/All Combinations.snap.png
  packages/core/src/components/popover/popover.scss
  packages/core/src/components/select/select.scss
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/tooltip/tooltip.scss
  packages/core/src/mixins/as-text-field.scss
  packages/core/src/mixins/with-inner-focus.scss
  packages/core/src/mixins/with-outer-focus.scss
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/popover/popover-base.tsx
  packages/react/src/components/popover/popover-props.ts
  packages/react/src/components/popover/popover-with-portal.tsx
  packages/react/src/components/popover/popover.tsx
  packages/react/src/components/select/custom/custom-option-group.tsx
  packages/react/src/components/select/custom/custom-option.tsx
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/custom/index.ts
  packages/react/src/components/select/custom/useCustomSelect.spec.ts
  packages/react/src/components/select/custom/useCustomSelect.ts
  packages/react/src/components/select/native/index.ts
  packages/react/src/components/select/native/native-option-group.tsx
  packages/react/src/components/select/native/native-option.tsx
  packages/react/src/components/select/native/native-select.tsx
  packages/react/src/components/select/option-group.tsx
  packages/react/src/components/select/option.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/components/select/useSelect.spec.ts
  packages/react/src/components/select/useSelect.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/useNoScroll/useNoScroll.spec.ts
  packages/react/src/utils/useNoScroll/useNoScroll.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: disallow "placeholder" as prop
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/native/native-select.tsx
Due: prettier --write, eslint --fix

style: accept suggestion
  packages/react/src/components/select/custom/custom-option.tsx
Due: prettier --write, eslint --fix

docs: improve options
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/select/select.stories.tsx
Due: prettier --write, eslint --fix

fix: don't set value, it'll infer from option
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

style: variable rename
  packages/react/src/utils/useOnClickOutside/useOnClickOutside.ts
Due: prettier --write, eslint --fix

refactor: rename register to initialize
  packages/react/src/components/select/custom/custom-option.tsx
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/custom/useCustomSelect.ts
Due: prettier --write, eslint --fix

fix: only focus :enabled Options
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix: exposed properties in CustomSelect
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

style: reorder
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

revert: variable rename
  packages/react/src/utils/useOnClickOutside/useOnClickOutside.ts
Due: prettier --write, eslint --fix

fix: selected but disabled options don't show icon
  packages/react/src/components/select/custom/custom-option.tsx
Due: prettier --write, eslint --fix
