Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat: support "invalid" state
  packages/react/src/components/combobox/combobox.stories.tsx
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

fix: select output
  packages/core/src/components/select/select.scss
Due: prettier --write, stylelint --fix

docs: inline icon example
  packages/react/src/components/combobox/combobox.stories.tsx
  packages/react/src/components/select/select.stories.tsx
Due: prettier --write, eslint --fix

chore: update screenshots
  e2e/.screenshots/visual-regression/all.e2e.ts/CSS/OptionList/All Combinations.snap.png
  e2e/.screenshots/visual-regression/all.e2e.ts/React/Combobox/All Combinations.snap.png
  e2e/.screenshots/visual-regression/all.e2e.ts/React/OptionList/All Combinations.snap.png
Due: none

refactor: revert to original story title
  packages/core/src/components/select/select.stories.ts
Due: prettier --write, eslint --fix

fix: correctly display output content
  packages/core/src/components/select/select.scss
Due: prettier --write, stylelint --fix

docs: with validation example
  packages/react/src/components/combobox/combobox.stories.tsx
Due: prettier --write, eslint --fix

docs: additional all combinations
  packages/react/src/components/combobox/combobox.stories.tsx
Due: prettier --write, eslint --fix

fix: add missing "invalid" prop type
  packages/core/src/components/combobox/combobox.ts
Due: prettier --write, eslint --fix

docs: with label and helper text example
  packages/react/src/components/combobox/combobox.stories.tsx
Due: prettier --write, eslint --fix

docs: option groups example
  packages/react/src/components/combobox/combobox.stories.tsx
Due: prettier --write, eslint --fix

docs: remove "as required" stories
  packages/core/src/components/select/select.stories.ts
  packages/react/src/components/select/select.stories.tsx
Due: prettier --write, eslint --fix

refactor: change "with keywords" story title
  packages/react/src/components/combobox/combobox.stories.tsx
Due: prettier --write, eslint --fix

fix: align width with Select component
  packages/core/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

fix: allow to close options when change event happens
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

fix: correctly use dropdown styling
  packages/core/src/components/combobox/combobox.scss
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix, stylelint --fix

test: replace with new screenshot
  e2e/.screenshots/visual-regression/all.e2e.ts/React/Combobox/All Combinations.snap.png
Due: none

fix: focus on 1st option when opening if no selection made yet
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

feat: apply accessibility to combobox and select (custom) components
  packages/react/src/components/combobox/combobox.tsx
  packages/react/src/components/option-list/option-list.tsx
  packages/react/src/components/option-list/option.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/native/native-select.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/components/textarea/textarea.tsx
Due: prettier --write, eslint --fix

fix: popover dropdown width
  packages/core/src/components/combobox/combobox.scss
  packages/core/src/components/option-list/option-list.scss
  packages/core/src/components/select/select.scss
Due: prettier --write, stylelint --fix

fix: don't open options when tabbing in
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

fix: set as default "start" align for popup
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

chore: lower coverage global thresholds
  .nycrc.json
Due: prettier --write

chore(release): 2.2.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.2.0 (#1843)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix(core): adjust combobox styling when used alongside field label
  packages/core/src/components/field-label/field-label.scss
Due: prettier --write, stylelint --fix

fix(core): automatically include required component styles for combobox
  packages/core/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

fix(core): automatically include required component styles for combobox (#1844)
  packages/core/src/components/combobox/combobox.scss
Due: prettier --write, stylelint --fix

fix(core): adjust combobox styling when used alongside field label (#1845)
  packages/core/src/components/field-label/field-label.scss
Due: prettier --write, stylelint --fix

fix(react): correctly init options when value (or defaultValue) provided
  packages/react/src/components/option-list/options-list-init.tsx
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix(react): correctly init options when value (or defaultValue) provided (#1849)
  packages/react/src/components/option-list/options-list-init.tsx
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix(react): correctly validate selected option on select/combobox
  packages/react/src/components/combobox/combobox.tsx
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix(react): correctly validate selected option on select/combobox (#1850)
  packages/react/src/components/combobox/combobox.tsx
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

chore(release): 2.2.1
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.2.1 (#1852)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix(react): don't focus on 1st element when opening dropdown with click
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

fix(react): don't focus on 1st element when opening dropdown with click (#1856)
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

chore(release): 2.2.2
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.2.2 (#1857)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
