Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: remove useless field
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/react/src/components/form/getFormValues.ts
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/react/src/components/form/form.tsx
Due: prettier --write, eslint --fix

chore: include href in checkbox anchor
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/react/src/components/field/field.tsx
Due: prettier --write, eslint --fix

chore: update links
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

fix: allow indicator events, keep cursor
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

docs: field inline comment
  packages/react/src/components/field/field.tsx
Due: prettier --write, eslint --fix

fix: anchor
  packages/core/src/internal/indicator-container/indicator-container.scss
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

docs: actually does not require a name
  packages/react/src/components/field/field.tsx
Due: prettier --write, eslint --fix

feat: form disables buttons too
  packages/core/src/components/form/form.scss
  packages/react/src/components/button/button.tsx
  packages/react/src/components/form/form.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: form (#439)
  packages/core/src/components/field/field.scss
  packages/core/src/components/field/field.ts
  packages/core/src/components/form/form.scss
  packages/core/src/components/form/form.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/validation/validation.ts
  packages/core/src/mixins/as-text-input.scss
  packages/react/src/components/button/button.tsx
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/field/field.tsx
  packages/react/src/components/field/useField.spec.ts
  packages/react/src/components/field/useField.ts
  packages/react/src/components/fieldset/fieldset.tsx
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/form/form.tsx
  packages/react/src/components/form/getFormValues.spec.ts
  packages/react/src/components/form/getFormValues.ts
  packages/react/src/components/form/useForm.spec.ts
  packages/react/src/components/form/useForm.ts
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: add spinner component
  packages/core/src/animations/index.scss
  packages/core/src/animations/spin.scss
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/input/input.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/components/spinner/spinner.scss
  packages/core/src/components/spinner/spinner.stories.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/core/src/components/spinner/spinner.ts
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/helpers/color/color.scss
  packages/core/src/helpers/color/color.ts
  packages/core/src/mixins/index.scss
  packages/core/src/mixins/keyframes.scss
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
  packages/react/src/components/index.ts
  packages/react/src/components/spinner/spinner.stories.tsx
  packages/react/src/components/spinner/spinner.tsx
Due: prettier --write, eslint --fix, stylelint --fix

style: apply suggestion from code review
  packages/react/src/components/spinner/spinner.tsx
Due: prettier --write, eslint --fix

refactor: get rid of spinner container
  packages/core/src/components/spinner/spinner.scss
  packages/core/src/components/spinner/spinner.stories.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/react/src/components/spinner/spinner.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: form disabled interactions
  packages/core/src/components/field/field.ts
  packages/react/src/components/field/field.tsx
  packages/react/src/components/field/useField.ts
  packages/react/src/components/form/form.tsx
  packages/react/src/components/form/useForm.ts
Due: prettier --write, eslint --fix

test: cover
  packages/react/src/components/field/useField.spec.ts
Due: prettier --write, eslint --fix

feat: add spinner component (#402)
  packages/core/src/animations/index.scss
  packages/core/src/animations/spin.scss
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/input/input.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/components/spinner/spinner.scss
  packages/core/src/components/spinner/spinner.stories.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/core/src/components/spinner/spinner.ts
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/helpers/color/color.scss
  packages/core/src/helpers/color/color.ts
  packages/core/src/mixins/index.scss
  packages/core/src/mixins/keyframes.scss
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
  packages/react/src/components/index.ts
  packages/react/src/components/spinner/spinner.stories.tsx
  packages/react/src/components/spinner/spinner.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: default spinner as "medium" size
  packages/core/src/components/spinner/spinner.story.tsx
  packages/react/src/components/spinner/spinner.tsx
Due: prettier --write, eslint --fix

feat: default spinner as "medium" size (#459)
  packages/core/src/components/spinner/spinner.story.tsx
  packages/react/src/components/spinner/spinner.tsx
Due: prettier --write, eslint --fix

docs: display "color" selection options in description
  packages/core/src/components/icon/icon.stories.ts
  packages/react/src/components/icon/icon.stories.tsx
Due: prettier --write, eslint --fix

docs: don't set defaults for core stories
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/input/input.story.tsx
  packages/core/src/components/spinner/spinner.stories.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.story.tsx
Due: prettier --write, eslint --fix

fix: align field label width with input/textarea
  packages/core/src/components/field-label/field-label.scss
Due: prettier --write, stylelint --fix

docs: display "color" selection options in description (#467)
  packages/core/src/components/icon/icon.stories.ts
  packages/react/src/components/icon/icon.stories.tsx
Due: prettier --write, eslint --fix

fix: form disabled interactions (#456)
  packages/core/src/components/field/field.ts
  packages/react/src/components/field/field.tsx
  packages/react/src/components/field/useField.spec.ts
  packages/react/src/components/field/useField.ts
  packages/react/src/components/form/form.tsx
  packages/react/src/components/form/useForm.ts
Due: prettier --write, eslint --fix

docs: don't set defaults for core stories (#468)
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/input/input.story.tsx
  packages/core/src/components/spinner/spinner.stories.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.story.tsx
Due: prettier --write, eslint --fix

fix: align field label width with input/textarea (#469)
  packages/core/src/components/field-label/field-label.scss
Due: prettier --write, stylelint --fix

fix: form grid styles and story radios
  packages/core/src/components/form/form.scss
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: form grid styles and story radios (#484)
  packages/core/src/components/form/form.scss
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore(release): 1.2.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

docs: do not include "html stories support" in changelog
  CHANGELOG.md
Due: prettier --write

chore(release): 1.2.0 (#487)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

build(deps-dev): bump parcel-bundler from 1.12.4 to 1.12.5
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-ts-parcel/package.json
  yarn.lock
Due: prettier --write

docs: add html field-label stories
  docs/helpers/html.ts
  jest.config.js
  packages/core/src/components/asterisk/asterisk.story.tsx
  packages/core/src/components/field-label/field-label.stories.tsx
  packages/core/src/components/field-label/field-label.story.tsx
  packages/core/src/components/field/field.story.tsx
  packages/core/src/components/helper-text/helper-text.story.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/input/input.story.tsx
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.story.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

style: apply suggestion from code review
  docs/helpers/html.ts
Due: prettier --write, eslint --fix

style: nest input/textarea within label as an example
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
Due: prettier --write, eslint --fix

refactor: join with newline
  docs/helpers/html.ts
Due: prettier --write, eslint --fix

docs: add html field-label stories (#490)
  docs/helpers/html.ts
  jest.config.js
  packages/core/src/components/asterisk/asterisk.story.tsx
  packages/core/src/components/field-label/field-label.stories.tsx
  packages/core/src/components/field-label/field-label.story.tsx
  packages/core/src/components/field/field.story.tsx
  packages/core/src/components/helper-text/helper-text.story.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/input/input.story.tsx
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/textarea/textarea.story.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
