Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

fix: sentence
  CONTRIBUTING.md
Due: prettier --write

build: improve release process (#245)
  .github/workflows/build.yml
  .github/workflows/preview.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
Due: prettier --write

chore: dependabot ignore sass-loader 11 upgrades
  .dependabot/config.yml
Due: prettier --write

chore: dependabot ignore sass-loader 11 upgrades (#279)
  .dependabot/config.yml
Due: prettier --write

fix: peer dependency versions
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore: update bump script
  scripts/bump-core-peer-dependency.cjs
Due: none

fix: peer dependency versions (#285)
  packages/core/package.json
  packages/react/package.json
  scripts/bump-core-peer-dependency.cjs
Due: prettier --write

chore(release): 1.0.1
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

ci: rename release branches
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  .github/workflows/publish.yml
Due: prettier --write

chore(release): 1.0.1 (#286)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

feat: add field-label-component
  docs/spacer/react.tsx
  packages/core/src/components/field-label/field-label.scss
  packages/core/src/components/index.scss
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/field-label/field-label.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

style: apply suggestion from code review
  packages/core/src/components/field-label/field-label.scss
Due: prettier --write, stylelint --fix

refactor: better align with other form components
  docs/spacer/react.tsx
  packages/core/src/components/field-label/field-label.scss
  packages/react/src/components/field-label/field-label.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/textarea/textarea.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: improve spacing between element and input/textarea
  packages/core/src/components/field-label/field-label.scss
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/field-label/field-label.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: automatically generate identification
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
Due: prettier --write, eslint --fix

refactor: share logic via field label wrapper
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/field-label-wrapper/field-label-wrapper.tsx
  packages/react/src/internal/index.ts
Due: prettier --write, eslint --fix

refactor: start counting from 1
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
Due: prettier --write, eslint --fix

refactor: set identification only when required
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
Due: prettier --write, eslint --fix

refactor: simplify switch between auto and external identificator
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
Due: prettier --write, eslint --fix

docs: inform that field-label should provide a text label for the field
  packages/react/src/components/field-label/field-label.tsx
Due: prettier --write, eslint --fix

chore: update contributing
  CONTRIBUTING.md
Due: prettier --write

ci: rename release branches (#287)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
Due: prettier --write

fix: make sure auto identificator gets generated
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
Due: prettier --write, eslint --fix

feat: add field-label component (#267)
  packages/core/src/components/field-label/field-label.scss
  packages/core/src/components/index.scss
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/field-label/field-label.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/field-label-wrapper/field-label-wrapper.tsx
  packages/react/src/internal/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(core): make sure field-label follows 8px grid
  packages/core/src/components/field-label/field-label.scss
Due: prettier --write, stylelint --fix

docs: show how to make optional and required field-label
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

fix(core): make sure field-label follows 8px grid (#291)
  packages/core/src/components/field-label/field-label.scss
Due: prettier --write, stylelint --fix

feat(core): automatically include field-label (for input/textarea)
  packages/core/src/components/index.scss
  packages/core/src/components/input/input.scss
  packages/core/src/components/textarea/textarea.scss
Due: prettier --write, stylelint --fix

feat(core): automatically include field-label (for input/textarea) (#293)
  packages/core/src/components/index.scss
  packages/core/src/components/input/input.scss
  packages/core/src/components/textarea/textarea.scss
Due: prettier --write, stylelint --fix

docs(react): correct field-label with textarea story
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

docs(react): correct field-label with textarea story (#295)
  packages/react/src/components/field-label/field-label.stories.tsx
Due: prettier --write, eslint --fix

docs(react): show label by default on input and textarea
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

fix(core): compile field-label only once
  packages/core/src/components/index.scss
Due: prettier --write, stylelint --fix

docs(react): show label by default on input and textarea (#297)
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

fix(core): compile field-label only once (#298)
  packages/core/src/components/index.scss
Due: prettier --write, stylelint --fix

docs(react): inform that form element children acts as labels
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

docs(react): inform that form element children acts as labels (#296)
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

fix(core): correct placement of "bordered" indicator-container
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

fix(core): correct placement of "bordered" indicator-container (#301)
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix
