Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix: correct specificity using variables for property definitions
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

feat: align hover transition with other input components (no transition)
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

refactor: do not use variables for input to avoid confusion
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

feat: allow control externally and internally
  packages/react/src/components/radio/radio.react.stories.tsx
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix

feat: assign input name for each story
  packages/react/src/components/radio/radio.react.stories.tsx
Due: prettier --write, eslint --fix

style: apply suggestions from code review
  packages/react/src/components/description/description.react.tsx
  packages/react/src/components/radio/radio.react.stories.tsx
Due: prettier --write, eslint --fix

fix: do not apply right padding to input
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

style: do not interpolate when no css variable used
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

docs: don't set "href" key when value is empty string
  packages/react/src/components/button/button.react.stories.tsx
Due: prettier --write, eslint --fix

docs: better describe textarea component "resize" variations
  packages/react/src/components/textarea/textarea.react.stories.tsx
Due: prettier --write, eslint --fix

docs: better describe textarea component "resize" variations (#176)
  packages/react/src/components/textarea/textarea.react.stories.tsx
Due: prettier --write, eslint --fix

docs: don't set "href" key when value is empty string (#175)
  packages/react/src/components/button/button.react.stories.tsx
Due: prettier --write, eslint --fix

refactor: control states with css
  packages/core/src/components/radio/radio.scss
  packages/core/src/mixins/interactive.scss
  packages/core/src/mixins/with-inner-focus.scss
  packages/core/src/mixins/with-outer-focus.scss
  packages/react/src/components/radio/radio.react.stories.tsx
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(react): withRef component displayNames
  packages/react/src/components/input/input.react.tsx
  packages/react/src/components/search/search.react.tsx
  packages/react/src/components/textarea/textarea.react.tsx
Due: prettier --write, eslint --fix

feat: add radio component (#79)
  packages/core/src/components/button/button.scss
  packages/core/src/components/description/description.scss
  packages/core/src/components/description/description.ts
  packages/core/src/components/icon/icon.scss
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/input/input.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/components/radio/radio.ts
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/mixins/index.scss
  packages/core/src/mixins/interactive.scss
  packages/core/src/mixins/square.scss
  packages/core/src/mixins/with-inner-focus.scss
  packages/core/src/mixins/with-outer-focus.scss
  packages/core/style/components/description.scss
  packages/core/style/components/radio.scss
  packages/react/src/components/description/description.react.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.react.stories.tsx
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: different approach with displayName
  packages/react/src/components/input/input.react.tsx
  packages/react/src/components/search/search.react.tsx
  packages/react/src/components/textarea/textarea.react.tsx
  packages/react/src/utils/withRef.ts
Due: prettier --write, eslint --fix

fix: only animate radio "dot" appearance
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

fix: do not apply "checked" state styling for invalid radio
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

fix: only animate radio "dot" appearance (#179)
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

fix: do not apply "checked" state styling for invalid radio (#180)
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

fix(react): withRef component displayNames (#177)
  packages/react/src/components/input/input.react.tsx
  packages/react/src/components/search/search.react.tsx
  packages/react/src/components/textarea/textarea.react.tsx
  packages/react/src/utils/withRef.ts
Due: prettier --write, eslint --fix

fix(react): add display name to radio component
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix

fix(react): add display name to radio component (#188)
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix

docs: improve component notes
  packages/react/src/components/description/description.react.tsx
  packages/react/src/components/icon/icon.react.tsx
  packages/react/src/components/search/search.react.tsx
Due: prettier --write, eslint --fix

docs: improve component notes (#192)
  packages/react/src/components/description/description.react.tsx
  packages/react/src/components/icon/icon.react.tsx
  packages/react/src/components/search/search.react.tsx
Due: prettier --write, eslint --fix

fix(core): correctly style radio children when input is disabled
  packages/core/src/components/radio/radio.scss
  packages/react/src/components/radio/radio.react.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(core): correctly style radio children when input is disabled (#197)
  packages/core/src/components/radio/radio.scss
  packages/react/src/components/radio/radio.react.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(core): correct "neutral-600" color due to accessibility
  packages/core/src/theme/tokens.json
Due: prettier --write

fix(core): correct "neutral-600" color due to accessibility (#200)
  packages/core/src/theme/tokens.json
Due: prettier --write

fix(core): correct border input and action colors on night theme due to accessibility
  packages/core/src/theme/themes/night.scss
Due: prettier --write, stylelint --fix

fix(core): correct border input and action colors on night theme due to accessibility (#201)
  packages/core/src/theme/themes/night.scss
Due: prettier --write, stylelint --fix

build: automatically sort imports
  examples/react-emotion-ts-parcel/src/index.tsx
  package.json
  scripts/generate-tokens.ts
  yarn.lock
Due: prettier --write, eslint --fix

build: automatically sort imports (#202)
  examples/react-emotion-ts-parcel/src/index.tsx
  package.json
  scripts/generate-tokens.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(react): place utils in subdirectories
  packages/react/src/utils/index.ts
  packages/react/src/utils/withRef/withRef.spec.ts
  packages/react/src/utils/withRef/withRef.ts
Due: prettier --write, eslint --fix

chore(react): place utils in subdirectories (#206)
  packages/react/src/utils/index.ts
  packages/react/src/utils/withRef/withRef.spec.ts
  packages/react/src/utils/withRef/withRef.ts
Due: prettier --write, eslint --fix

fix(core): input and textarea borders on focus
  packages/core/src/components/input/input.scss
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/mixins/as-text-input.scss
  packages/core/src/mixins/index.scss
Due: prettier --write, stylelint --fix

fix(core): input and textarea borders on focus (#208)
  packages/core/src/components/input/input.scss
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/mixins/as-text-input.scss
  packages/core/src/mixins/index.scss
Due: prettier --write, stylelint --fix

fix(core): selectors applied conditionally
  .stylelintrc.json
  packages/core/src/mixins/as-text-input.scss
  packages/core/src/mixins/index.scss
  packages/core/src/mixins/interactive.scss
  packages/core/src/mixins/with-inner-focus.scss
  packages/core/src/mixins/with-outer-focus.scss
  packages/core/src/mixins/wrap-if.scss
  packages/core/src/theme/theme.scss
Due: prettier --write, stylelint --fix

fix(core): selectors applied conditionally (#209)
  .stylelintrc.json
  packages/core/src/mixins/as-text-input.scss
  packages/core/src/mixins/index.scss
  packages/core/src/mixins/interactive.scss
  packages/core/src/mixins/with-inner-focus.scss
  packages/core/src/mixins/with-outer-focus.scss
  packages/core/src/mixins/wrap-if.scss
  packages/core/src/theme/theme.scss
Due: prettier --write, stylelint --fix

chore(release): 1.0.0-rc.3
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
