Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

docs: update quickstart wording
  docs/_core/intro.stories.mdx
Due: prettier --write

build: fix dependabot config (#1243)
  .github/dependabot.yml
Due: prettier --write

docs: fix html stories source code snippets (#1253)
  .storybook/custom/prepareForInline.tsx
Due: prettier --write, eslint --fix

docs: update quickstart wording (#1255)
  docs/_core/intro.stories.mdx
Due: prettier --write

build: update dependabot npm rules
  .github/dependabot.yml
Due: prettier --write

chore: yarn
  yarn.lock
Due: none

chore: include modules in src/tsconfig
  packages/react/tsconfig.json
Due: prettier --write

fix(react): popover position
  packages/react/src/components/popover/popover-with-portal.tsx
Due: prettier --write, eslint --fix

docs: fix prepareForInline, only parse CSS stories
  .storybook/custom/prepareForInline.tsx
Due: prettier --write, eslint --fix

build: update dependabot npm rules (#1259)
  .github/dependabot.yml
Due: prettier --write

chore: yarn (#1258)
  yarn.lock
Due: none

refactor: storybook matrix helper
  docs/helpers/matrix/htmlMatrix.ts
  docs/helpers/matrix/index.ts
  docs/helpers/matrix/matrix.tsx
  docs/helpers/matrix/reactMatrix.tsx
  docs/helpers/story.d.ts
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/checkbox/checkbox.stories.ts
  packages/core/src/components/field-label/field-label.stories.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/popover/popover.stories.ts
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/tooltip/tooltip.stories.ts
Due: prettier --write, eslint --fix

refactor: storybook matrix helper (#1260)
  docs/helpers/matrix/htmlMatrix.ts
  docs/helpers/matrix/index.ts
  docs/helpers/matrix/matrix.tsx
  docs/helpers/matrix/reactMatrix.tsx
  docs/helpers/story.d.ts
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/checkbox/checkbox.stories.ts
  packages/core/src/components/field-label/field-label.stories.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/popover/popover.stories.ts
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/core/src/components/tooltip/tooltip.stories.ts
Due: prettier --write, eslint --fix

fix(react): popover position (#1262)
  packages/react/src/components/popover/popover-with-portal.tsx
Due: prettier --write, eslint --fix

chore: include modules in src/tsconfig (#1261)
  packages/react/tsconfig.json
Due: prettier --write

docs: fix prepareForInline, only parse CSS stories (#1263)
  .storybook/custom/prepareForInline.tsx
Due: prettier --write, eslint --fix

refactor: useEvent
  packages/react/src/components/popover/popover-props.ts
  packages/react/src/components/popover/popover-with-portal.tsx
  packages/react/src/components/tooltip/tooltip.tsx
  packages/react/src/utils/createEventHook/createEventHook.spec.ts
  packages/react/src/utils/createEventHook/createEventHook.ts
  packages/react/src/utils/createEventHook/index.ts
  packages/react/src/utils/createEventHook/listen.spec.ts
  packages/react/src/utils/createEventHook/listen.ts
  packages/react/src/utils/createEventHook/listenOutside.spec.ts
  packages/react/src/utils/createEventHook/listenOutside.ts
  packages/react/src/utils/createEventHook/shared.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/useOnClickOutside/useOnClickOutside.spec.ts
  packages/react/src/utils/useOnClickOutside/useOnClickOutside.ts
Due: prettier --write, eslint --fix

refactor: useEvent (#1264)
  packages/react/src/components/popover/popover-props.ts
  packages/react/src/components/popover/popover-with-portal.tsx
  packages/react/src/components/tooltip/tooltip.tsx
  packages/react/src/utils/createEventHook/createEventHook.spec.ts
  packages/react/src/utils/createEventHook/createEventHook.ts
  packages/react/src/utils/createEventHook/index.ts
  packages/react/src/utils/createEventHook/listen.spec.ts
  packages/react/src/utils/createEventHook/listen.ts
  packages/react/src/utils/createEventHook/listenOutside.spec.ts
  packages/react/src/utils/createEventHook/listenOutside.ts
  packages/react/src/utils/createEventHook/shared.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/useOnClickOutside/useOnClickOutside.spec.ts
  packages/react/src/utils/useOnClickOutside/useOnClickOutside.ts
Due: prettier --write, eslint --fix

fix(react): popover placement
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --fix

fix(react): popover placement (#1265)
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --fix

docs: theming
  docs/_core/intro.stories.mdx
  docs/_core/theming.stories.mdx
  docs/_core/theming/creating-theme.story.tsx
  docs/_core/theming/intro.story.tsx
  docs/_core/theming/theming.stories.tsx
  docs/_css/intro.stories.mdx
  docs/_react/intro.stories.mdx
Due: prettier --write, eslint --fix

chore: update browserslist
  .browserslistrc
Due: none

docs: prepare theme for Castor logo
  .storybook/custom/index.ts
  .storybook/custom/theme.ts
  .storybook/manager-head.html
  .storybook/manager.ts
  .storybook/preview.ts
  .storybook/public/apple-touch-icon.png
  .storybook/public/brand.svg
  .storybook/public/favicon.ico
  .storybook/public/favicon.svg
  docs/decorators/withTheme.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

refactor: container can now use flex gap
  docs/decorators/container.scss
Due: prettier --write, stylelint --fix

chore: update browserslist (#1312)
  .browserslistrc
Due: none

refactor: container can now use flex gap (#1313)
  docs/decorators/container.scss
Due: prettier --write, stylelint --fix

docs: prepare theme for Castor logo (#1315)
  .storybook/custom/index.ts
  .storybook/custom/theme.ts
  .storybook/manager-head.html
  .storybook/manager.ts
  .storybook/preview.ts
  .storybook/public/apple-touch-icon.png
  .storybook/public/brand.svg
  .storybook/public/favicon.ico
  .storybook/public/favicon.svg
  docs/decorators/withTheme.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

docs: replace "Storybook" in title with "Castor"
  .storybook/manager.ts
Due: prettier --write, eslint --fix

docs: replace "Storybook" in title with "Castor" (#1316)
  .storybook/manager.ts
Due: prettier --write, eslint --fix

refactor: withTheme decorator becomes singleton
  .gitignore
  .storybook/custom/theme.ts
  .storybook/main.ts
  .storybook/preview.scss
  .storybook/preview.ts
  docs/decorators/themes.scss
  docs/decorators/withTheme.tsx
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

refactor: withTheme decorator becomes singleton (#1314)
  .gitignore
  .storybook/custom/theme.ts
  .storybook/main.ts
  .storybook/preview.scss
  .storybook/preview.ts
  docs/decorators/themes.scss
  docs/decorators/withTheme.tsx
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

chore: bump @storybook/* to 6.4.10
  package.json
  yarn.lock
Due: prettier --write

chore: bump @storybook/* to 6.4.12 (#1336)
  package.json
  yarn.lock
Due: prettier --write

docs: theming (#1278)
  docs/_core/intro.stories.mdx
  docs/_core/theming.stories.mdx
  docs/_core/theming/creating-theme.story.tsx
  docs/_core/theming/intro.story.tsx
  docs/_core/theming/theming.stories.tsx
  docs/_css/intro.stories.mdx
  docs/_react/intro.stories.mdx
Due: prettier --write, eslint --fix

fix: button hover on iOS
  packages/core/src/components/button/button.scss
Due: prettier --write, stylelint --fix

fix: button hover on iOS (#1373)
  packages/core/src/components/button/button.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
