Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: reorder scripts
  package.json
Due: prettier --write

chore: reword
  .storybook/main.ts
Due: prettier --write, eslint --fix

chore: use shx
  package.json
Due: prettier --write

ci: rename folder
  .github/workflows/test.yml
Due: prettier --write

test: add visual regression support and spec all combinations (#556)
  .github/workflows/test.yml
  .gitignore
  .nycrc.json
  .storybook/main.ts
  CONTRIBUTING.md
  cypress.json
  e2e/.eslintrc
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Textarea/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Button/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Textarea/All Combinations.snap.png
  e2e/plugins.ts
  e2e/support.ts
  e2e/tsconfig.json
  e2e/visual-regression/all.e2e.ts
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

docs: add examples of component composition
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
Due: prettier --write, eslint --fix

docs: wrap code in list with backticks
  CONTRIBUTING.md
Due: prettier --write

feat(react): deprecate "children" for adding input/textarea label (#622)
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/textarea/textarea.tsx
Due: prettier --write, eslint --fix

docs: wrap code in list with backticks (#625)
  CONTRIBUTING.md
Due: prettier --write

test: update snapshots
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Checkbox/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Radio/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Textarea/All Combinations.snap.png
Due: none

test: update snapshots (#627)
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Checkbox/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Input/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Radio/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Textarea/All Combinations.snap.png
Due: none

docs: add more e2e contributing information
  CONTRIBUTING.md
Due: prettier --write

chore: accept suggestion
  CONTRIBUTING.md
Due: prettier --write

docs: add more E2E contributing information (#626)
  CONTRIBUTING.md
Due: prettier --write

ci: use yarn to execute lint commands
  .github/workflows/lint.yml
Due: prettier --write

ci: use yarn to execute lint commands (#643)
  .github/workflows/lint.yml
Due: prettier --write

fix(react): form values onChange and onSubmit
  .eslintrc.json
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/form/getFormValues.spec.ts
  packages/react/src/components/form/getFormValues.ts
Due: prettier --write, eslint --fix

feat: add vercel logo
  README.md
  packages/core/README.md
  packages/react/README.md
Due: prettier --write

fix: remove vercel logo from package readmes
  packages/core/README.md
  packages/react/README.md
Due: prettier --write

docs: add title "sponsors"
  README.md
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

docs: add vercel logo (#651)
  README.md
Due: prettier --write

chore: fix new line
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

fix: missing radio
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

ci(workflows): remove preview workflow
  .github/workflows/preview.yml
Due: prettier --write

ci(workflows): remove preview workflow (#668)
  .github/workflows/preview.yml
Due: prettier --write

chore: upgrade to github-native dependabot
  .dependabot/config.yml
  .github/dependabot.yml
  .github/workflows/lint.yml
Due: prettier --write

ci: don't deploy main to gh pages
  .github/workflows/deploy.yml
  README.md
Due: prettier --write

ci: don't deploy main to gh pages (#671)
  .github/workflows/deploy.yml
  README.md
Due: prettier --write

fix(react): form values onChange and onSubmit (#635)
  .eslintrc.json
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/form/getFormValues.spec.ts
  packages/react/src/components/form/getFormValues.ts
Due: prettier --write, eslint --fix

chore(release): 1.3.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 1.3.0 (#672)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

refactor: import from package rather than relative path
  jest.config.js
  packages/core/src/components/asterisk/asterisk.story.tsx
  packages/core/src/components/button/button.story.tsx
  packages/core/src/components/field-label/field-label.story.tsx
  packages/core/src/components/field/field.story.tsx
  packages/core/src/components/helper-text/helper-text.story.tsx
  packages/core/src/components/icon/icon.story.tsx
  packages/core/src/components/icon/icon.ts
  packages/core/src/components/input/input.story.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/core/src/components/textarea/textarea.story.tsx
  packages/core/src/helpers/font/font.ts
  packages/core/src/utils/toCSS/toCSS.spec.ts
  packages/core/src/utils/toCSS/toCSS.ts
  packages/react/src/components/button/button.tsx
  packages/react/src/components/field/useField.spec.ts
  packages/react/src/components/field/useField.ts
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/search/search.tsx
Due: prettier --write, eslint --fix

refactor: import from package rather than relative path (#698)
  jest.config.js
  packages/core/src/components/asterisk/asterisk.story.tsx
  packages/core/src/components/button/button.story.tsx
  packages/core/src/components/field-label/field-label.story.tsx
  packages/core/src/components/field/field.story.tsx
  packages/core/src/components/helper-text/helper-text.story.tsx
  packages/core/src/components/icon/icon.story.tsx
  packages/core/src/components/icon/icon.ts
  packages/core/src/components/input/input.story.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/core/src/components/textarea/textarea.story.tsx
  packages/core/src/helpers/font/font.ts
  packages/core/src/utils/toCSS/toCSS.spec.ts
  packages/core/src/utils/toCSS/toCSS.ts
  packages/react/src/components/button/button.tsx
  packages/react/src/components/field/useField.spec.ts
  packages/react/src/components/field/useField.ts
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/search/search.tsx
Due: prettier --write, eslint --fix

docs: add aria-hidden="true" to icons inside buttons
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/icon/icon.story.tsx
  packages/react/src/components/button/button.stories.tsx
Due: prettier --write, eslint --fix

docs: add aria-hidden="true" to icons inside buttons (#703)
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/icon/icon.story.tsx
  packages/react/src/components/button/button.stories.tsx
Due: prettier --write, eslint --fix

docs: always connect label with input/textarea
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

docs: always connect label with input/textarea (#704)
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

feat: do not force setting label for asterisk
  packages/core/src/components/asterisk/asterisk.story.tsx
  packages/core/src/components/field-label/field-label.stories.ts
  packages/react/src/components/asterisk/asterisk.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.stories.tsx
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

feat(react): auto-generate ids for checkbox/radio + label connections
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useAutoId/useAutoId.spec.ts
  packages/react/src/hooks/useAutoId/useAutoId.ts
  packages/react/src/internal/field-label-wrapper/field-label-wrapper.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
