Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore(release): 2.0.3
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.0.3 (#1380)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

docs: fix some component names
  .storybook/custom/fixNames.ts
  .storybook/preview.ts
Due: prettier --write, eslint --fix

docs: fix some component names (#1566)
  .storybook/custom/fixNames.ts
  .storybook/preview.ts
Due: prettier --write, eslint --fix

feat: allow external icon usage
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/select/select.story.tsx
  packages/react/src/components/search/search.stories.tsx
  packages/react/src/components/search/search.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/internal/index.ts
  packages/react/src/internal/maybe-icon/maybe-icon.tsx
Due: prettier --write, eslint --fix

feat: allow external icon usage (#1644)
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/select/select.story.tsx
  packages/react/src/components/search/search.stories.tsx
  packages/react/src/components/search/search.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/internal/index.ts
  packages/react/src/internal/maybe-icon/maybe-icon.tsx
Due: prettier --write, eslint --fix

chore(release): 2.1.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 2.1.0 (#1651)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-bundler/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-bundler/package.json
  examples/react-emotion-ts-bundler/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-bundler/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

feat: datepicker component
  packages/core/src/components/date-picker/date-picker.scss
  packages/core/src/components/index.scss
  packages/core/src/components/input/input.ts
  packages/react/src/components/date-picker/CalendarIcon.tsx
  packages/react/src/components/date-picker/date-picker.stories.tsx
  packages/react/src/components/date-picker/date-picker.tsx
  packages/react/src/components/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: datepicker component
  packages/core/src/components/date-picker/date-picker.scss
  packages/core/src/components/date-picker/date-picker.ts
  packages/core/src/components/index.ts
  packages/react/src/components/date-picker/CalendarIcon.tsx
  packages/react/src/components/date-picker/date-picker.stories.tsx
  packages/react/src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: datepicker component
  packages/core/src/components/date-picker/date-picker.scss
Due: prettier --write, stylelint --fix

feat: datepicker component
  packages/core/src/components/date-picker/date-picker.scss
  packages/react/src/components/date-picker/date-picker-input.tsx
  packages/react/src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: bump node required to lts v16.15
  .nvmrc
  package.json
Due: prettier --write

chore: bump node required to lts v16.15 (#1101)
  .nvmrc
  package.json
Due: prettier --write

chore: update storybook
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore: update storybook (#1688)
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore: move from readme to contributing
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore: move from readme to contributing (#1699)
  CONTRIBUTING.md
  README.md
Due: prettier --write

feat: datepicker component
  packages/core/src/components/date-picker/date-picker.scss
  packages/react/src/components/date-picker/calendar.tsx
  packages/react/src/components/date-picker/date-picker-input.tsx
  packages/react/src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: datepicker component
  packages/core/src/components/date-picker/date-picker.scss
  packages/react/src/components/date-picker/calendar.tsx
  packages/react/src/components/date-picker/date-picker.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: datepicker component
  packages/core/src/components/calendar/calendar.scss
  packages/core/src/components/calendar/calendar.ts
  packages/core/src/components/date-picker/date-picker.scss
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/react/src/components/calendar/calendar.stories.tsx
  packages/react/src/components/calendar/calendar.tsx
  packages/react/src/components/date-picker/CalendarIcon.tsx
  packages/react/src/components/date-picker/date-picker.tsx
  packages/react/src/components/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

feat: datepicker component
  packages/react/src/components/calendar/calendar.tsx
Due: prettier --write, eslint --fix

feat(react): combobox
  .storybook/custom/fixNames.ts
  .stylelintrc.json
  MIGRATION.md
  packages/core/src/components/combobox/combobox.scss
  packages/core/src/components/combobox/combobox.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/option-list/option-list.scss
  packages/core/src/components/option-list/option-list.stories.ts
  packages/core/src/components/option-list/option-list.story.tsx
  packages/core/src/components/option-list/option-list.ts
  packages/core/src/components/popover/popover.scss
  packages/core/src/components/select/select.scss
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/tooltip/tooltip.scss
  packages/react/src/components/combobox/combobox.stories.tsx
  packages/react/src/components/combobox/combobox.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.tsx
  packages/react/src/components/option-list/option-group.tsx
  packages/react/src/components/option-list/option-list.stories.tsx
  packages/react/src/components/option-list/option-list.tsx
  packages/react/src/components/option-list/option.tsx
  packages/react/src/components/option-list/useOptionList.spec.ts
  packages/react/src/components/option-list/useOptionList.ts
  packages/react/src/components/select/custom/custom-select.tsx
  packages/react/src/components/select/custom/index.ts
  packages/react/src/components/select/custom/useCustomSelect.ts
  packages/react/src/components/select/option-group.tsx
  packages/react/src/components/select/option.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/utils/index.ts
  packages/react/src/utils/textContent/textContent.spec.ts
  packages/react/src/utils/textContent/textContent.ts
  packages/react/src/utils/useForwardedRef/useForwardedRef.ts
Due: prettier --write, eslint --fix, stylelint --fix

docs: empty prop
  packages/react/src/components/combobox/combobox.stories.tsx
Due: prettier --write, eslint --fix

chore: empty search on blur
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

refactor: reuse OptionList Init
  packages/react/src/components/combobox/combobox.tsx
  packages/react/src/components/option-list/options-list-init.tsx
  packages/react/src/components/select/custom/custom-select.tsx
Due: prettier --write, eslint --fix

fix: text over
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

feat: iteration v3
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

chore: experiment v2
  packages/core/src/components/combobox/combobox.scss
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: remove unnecessary line
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

feat: v4
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

feat: v6
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

fix: onChange value
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

feat: v5
  packages/core/src/components/combobox/combobox.scss
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: lint
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

refactor: use change rather than set of keys
  packages/react/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --fix

chore: coverage tresholds
  .nycrc.json
Due: prettier --write

refactor: add empty spaces
  packages/core/src/components/option-list/option-list.scss
  packages/core/src/components/select/select.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
