Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

chore: use *.ts extension for core story files
  packages/core/src/components/asterisk/asterisk.story.ts
  packages/core/src/components/button/button.story.ts
  packages/core/src/components/field-label/field-label.stories.ts
  packages/core/src/components/field-label/field-label.story.ts
  packages/core/src/components/field/field.story.ts
  packages/core/src/components/icon/icon.story.ts
  packages/core/src/components/input/input.story.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/core/src/components/spinner/spinner.story.ts
  packages/core/src/components/textarea/textarea.story.ts
Due: prettier --write, eslint --fix

chore: use *.ts extension for core story files (#496)
  packages/core/src/components/asterisk/asterisk.story.ts
  packages/core/src/components/button/button.story.ts
  packages/core/src/components/field-label/field-label.stories.ts
  packages/core/src/components/field-label/field-label.story.ts
  packages/core/src/components/field/field.story.ts
  packages/core/src/components/icon/icon.story.ts
  packages/core/src/components/input/input.story.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/core/src/components/spinner/spinner.story.ts
  packages/core/src/components/textarea/textarea.story.ts
Due: prettier --write, eslint --fix

chore: use *.tsx extension for core story files
  jest.config.js
  packages/core/src/components/asterisk/asterisk.story.tsx
  packages/core/src/components/button/button.story.tsx
  packages/core/src/components/field-label/field-label.story.tsx
  packages/core/src/components/field/field.story.tsx
  packages/core/src/components/helper-text/helper-text.story.tsx
  packages/core/src/components/icon/icon.story.tsx
  packages/core/src/components/input/input.story.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/core/src/components/textarea/textarea.story.tsx
Due: prettier --write, eslint --fix

docs: clean headings for better index
  README.md
  packages/core/README.md
  packages/react/README.md
Due: prettier --write

docs: add list of supported browsers
  README.md
Due: prettier --write

chore: use *.tsx extension for core story files (#532)
  jest.config.js
  packages/core/src/components/asterisk/asterisk.story.tsx
  packages/core/src/components/button/button.story.tsx
  packages/core/src/components/field-label/field-label.story.tsx
  packages/core/src/components/field/field.story.tsx
  packages/core/src/components/helper-text/helper-text.story.tsx
  packages/core/src/components/icon/icon.story.tsx
  packages/core/src/components/input/input.story.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/core/src/components/textarea/textarea.story.tsx
Due: prettier --write, eslint --fix

docs: add list of supported browsers (#534)
  README.md
Due: prettier --write

docs: reword main description
  README.md
Due: prettier --write

docs: clean headings for better index (#533)
  README.md
  packages/core/README.md
  packages/react/README.md
Due: prettier --write

docs: add badges to indicate bundle sizes
  packages/core/README.md
  packages/react/README.md
Due: prettier --write

docs: add badges to indicate bundle sizes (#536)
  packages/core/README.md
  packages/react/README.md
Due: prettier --write

build: fix storybook
  .storybook/main.ts
Due: prettier --write, eslint --fix

build: fix storybook (#554)
  .storybook/main.ts
Due: prettier --write, eslint --fix

docs: correctly link from react to core instructions
  packages/react/README.md
Due: prettier --write

docs: correctly link from react to core instructions (#555)
  packages/react/README.md
Due: prettier --write

docs: reword main description (#535)
  README.md
Due: prettier --write

fix(react): change button href check from key to value
  packages/react/src/components/button/button.tsx
Due: prettier --write, eslint --fix

chore: add nyc_output to gitignore
  .gitignore
Due: none

fix(react): change button href check from key to value (#576)
  packages/react/src/components/button/button.tsx
Due: prettier --write, eslint --fix

fix(core): search includes icon and input if not already added
  packages/core/src/components/icon/icon.scss
  packages/core/src/components/input/input.scss
  packages/core/src/components/search/search.scss
Due: prettier --write, stylelint --fix

refactor: includes
  packages/core/src/animations/spin.scss
  packages/core/src/components/asterisk/asterisk.scss
  packages/core/src/components/button/button.scss
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/field-label/field-label.scss
  packages/core/src/components/field/field.scss
  packages/core/src/components/fieldset-legend/fieldset-legend.scss
  packages/core/src/components/fieldset/fieldset.scss
  packages/core/src/components/form/form.scss
  packages/core/src/components/helper-text/helper-text.scss
  packages/core/src/components/icon/icon.scss
  packages/core/src/components/includes.scss
  packages/core/src/components/index.scss
  packages/core/src/components/input/input.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/components/search/search.scss
  packages/core/src/components/spinner/spinner.scss
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/components/validation/validation.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
  packages/core/src/mixins/includes.scss
  packages/core/src/mixins/index.scss
Due: prettier --write, stylelint --fix

chore(release): 1.2.1
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix(react): useField types
  packages/react/src/components/field/useField.ts
Due: prettier --write, eslint --fix

feat(core): themes set color-scheme
  packages/core/src/theme/theme.scss
  packages/core/src/theme/themes/night.scss
Due: prettier --write, stylelint --fix

fix(core): monospace font
  packages/core/src/helpers/font/font.scss
Due: prettier --write, stylelint --fix

fix(react): useField types (#590)
  packages/react/src/components/field/useField.ts
Due: prettier --write, eslint --fix

fix(core): monospace font (#592)
  packages/core/src/helpers/font/font.scss
Due: prettier --write, stylelint --fix

refactor: do not touch theme mixin
  packages/core/src/theme/theme.scss
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
Due: prettier --write, stylelint --fix

feat(core): themes set color-scheme (#591)
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.scss
Due: prettier --write, stylelint --fix

chore(release): 1.2.2
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

feat: generate themes with theo
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  package.json
  packages/core/src/theme/aliases.json
  packages/core/src/theme/themes/day.json
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.json
  packages/core/src/theme/themes/night.scss
  packages/core/src/theme/themes/theme.scss.hbs
  packages/core/src/theme/tokens.json
  packages/core/src/theme/tokens.scss.hbs
  scripts/generate-theme.ts
  scripts/generate-tokens.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: use __dirname instead of resolving
  scripts/generate-theme.ts
  scripts/generate-tokens.ts
Due: prettier --write, eslint --fix

refactor: interpolate/replace before passing to theo
  packages/core/src/theme/themes/theme.scss.hbs
  scripts/generate-theme.ts
Due: prettier --write, eslint --fix

feat: generate themes with theo (#589)
  .gitignore
  .vscode/settings.json
  CONTRIBUTING.md
  package.json
  packages/core/src/theme/aliases.json
  packages/core/src/theme/themes/day.json
  packages/core/src/theme/themes/day.scss
  packages/core/src/theme/themes/night.json
  packages/core/src/theme/themes/night.scss
  packages/core/src/theme/themes/theme.scss.hbs
  packages/core/src/theme/tokens.json
  packages/core/src/theme/tokens.scss.hbs
  scripts/generate-theme.ts
  scripts/generate-tokens.ts
Due: prettier --write, eslint --fix, stylelint --fix
