Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

refactor: generate auto id as default prop instead of using hook
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useAutoId/useAutoId.spec.ts
  packages/react/src/hooks/useAutoId/useAutoId.ts
Due: prettier --write, eslint --fix

build: revert to original yarn.lock
  yarn.lock
Due: none

feat: do not force setting label for asterisk (#706)
  packages/core/src/components/asterisk/asterisk.story.tsx
  packages/core/src/components/field-label/field-label.stories.ts
  packages/react/src/components/asterisk/asterisk.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.stories.tsx
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

feat(react): auto-generate ids for checkbox/radio + label connections (#705)
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/field-label-wrapper/field-label-wrapper.tsx
Due: prettier --write, eslint --fix

docs: set autocomplete on form example
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

docs: set autocomplete on form example (#713)
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

chore: :sparkles: Add bundlewatch to check each package's bundle size
  package.json
  yarn.lock
Due: prettier --write

ci: :sparkles: Add bundlewatch step to build Github Action workflow
  .github/workflows/build.yml
Due: prettier --write

fix: :bug: "main" not "master" for bundlewatch.trackedBranches
  package.json
Due: prettier --write

test: :construction: Intentionally reduce maxSize below current size for testing
  package.json
Due: prettier --write

Revert "test: :construction: Intentionally reduce maxSize below current size for testing"
  package.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: prettier --write

refactor: :art: Move bundlewatch config out of package.json
  .bundlewatchrc.json
  .github/workflows/build.yml
  package.json
Due: prettier --write

refactor: :art: PR review suggestion - simpler file path
  package.json
Due: prettier --write

build: Fix bundlewatch Github Action not finding config file
  .github/workflows/build.yml
Due: prettier --write

feat!: icon requires aria-hidden or aria-label
  docs/helpers/aria.ts
  docs/helpers/story.d.ts
  docs/index.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/icon/icon.story.tsx
  packages/core/src/components/icon/icon.ts
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/icon/icon.tsx
Due: prettier --write, eslint --fix

fix: :bug: Change `trackBranches` to "main"
  .bundlewatchrc.json
Due: prettier --write

build: fix
  examples/react-emotion-ts-parcel/src/App.tsx
  examples/react-scss-ts-parcel/src/App.tsx
  packages/react/src/components/search/search.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

fix: correct "withIcon" validation prop type to be on core
  packages/core/src/components/validation/validation.ts
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

style: do not use "run" with yarn cli
  package.json
Due: prettier --write

build: check bundle size (#699)
  .bundlewatchrc.json
  .github/workflows/build.yml
  package.json
  yarn.lock
Due: prettier --write

fix: correct "withIcon" validation prop type to be on core (#721)
  packages/core/src/components/validation/validation.ts
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

docs(core): allow children in story to be null or undefined
  packages/core/src/components/button/button.story.tsx
  packages/core/src/components/field-label/field-label.story.tsx
  packages/core/src/components/field/field.story.tsx
  packages/core/src/components/helper-text/helper-text.story.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/core/src/components/textarea/textarea.story.tsx
Due: prettier --write, eslint --fix

fix(react): hide icon within component using aria
  packages/react/src/components/search/search.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

docs(core): allow children in story to be null or undefined (#722)
  packages/core/src/components/button/button.story.tsx
  packages/core/src/components/field-label/field-label.story.tsx
  packages/core/src/components/field/field.story.tsx
  packages/core/src/components/helper-text/helper-text.story.tsx
  packages/core/src/components/spinner/spinner.story.tsx
  packages/core/src/components/textarea/textarea.story.tsx
Due: prettier --write, eslint --fix

fix(react): hide icon within component using aria (#723)
  packages/react/src/components/search/search.tsx
  packages/react/src/components/validation/validation.tsx
Due: prettier --write, eslint --fix

fix(react): do not set role as "button" on button as anchor
  packages/core/src/components/button/button.story.tsx
  packages/react/src/components/button/button.tsx
Due: prettier --write, eslint --fix

fix(react): do not set role as "button" on button as anchor (#726)
  packages/core/src/components/button/button.story.tsx
  packages/react/src/components/button/button.tsx
Due: prettier --write, eslint --fix

build: use tokens (incl. themes) from separate package
  .gitignore
  CONTRIBUTING.md
  docs/_core/colors/helpers.story.tsx
  docs/_core/colors/intro.story.tsx
  jest.config.js
  package.json
  packages/core/package.json
  packages/core/src/helpers/border-radius/border-radius.scss
  packages/core/src/helpers/border-radius/border-radius.ts
  packages/core/src/helpers/color/color.scss
  packages/core/src/helpers/color/color.spec.ts
  packages/core/src/helpers/color/color.ts
  packages/core/src/index.scss
  packages/core/src/index.ts
  packages/core/src/theme/aliases.json
  packages/core/src/theme/index.scss
  packages/core/src/theme/index.ts
  packages/core/src/theme/switchTheme/switchTheme.spec.ts
  packages/core/src/theme/switchTheme/switchTheme.ts
  packages/core/src/theme/theme.scss
  packages/core/src/theme/themes/day.json
  packages/core/src/theme/themes/night.json
  packages/core/src/theme/themes/theme.scss.hbs
  packages/core/src/theme/tokens.json
  packages/core/src/theme/tokens.scss.hbs
  packages/core/style/README.md
  packages/core/style/themes/day-class.scss
  packages/core/style/themes/day.scss
  packages/core/style/themes/night-class.scss
  packages/core/style/themes/night.scss
  scripts/generate-theme.ts
  scripts/generate-tokens.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

build: use tokens (incl. themes) from separate package (#662)
  .gitignore
  CONTRIBUTING.md
  docs/_core/colors/helpers.story.tsx
  docs/_core/colors/intro.story.tsx
  jest.config.js
  package.json
  packages/core/package.json
  packages/core/src/helpers/border-radius/border-radius.scss
  packages/core/src/helpers/border-radius/border-radius.ts
  packages/core/src/helpers/color/color.scss
  packages/core/src/helpers/color/color.spec.ts
  packages/core/src/helpers/color/color.ts
  packages/core/src/index.scss
  packages/core/src/index.ts
  packages/core/src/theme/aliases.json
  packages/core/src/theme/index.scss
  packages/core/src/theme/index.ts
  packages/core/src/theme/switchTheme/switchTheme.spec.ts
  packages/core/src/theme/switchTheme/switchTheme.ts
  packages/core/src/theme/theme.scss
  packages/core/src/theme/themes/day.json
  packages/core/src/theme/themes/night.json
  packages/core/src/theme/themes/theme.scss.hbs
  packages/core/src/theme/tokens.json
  packages/core/src/theme/tokens.scss.hbs
  packages/core/style/README.md
  packages/core/style/themes/day-class.scss
  packages/core/style/themes/day.scss
  packages/core/style/themes/night-class.scss
  packages/core/style/themes/night.scss
  scripts/generate-theme.ts
  scripts/generate-tokens.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

style: apply prettier changes
  .storybook/custom/prepareForInline.tsx
  packages/react/src/components/checkbox/checkbox.stories.tsx
Due: prettier --write, eslint --fix

build: lint ts
  docs/helpers/html.ts
  e2e/tsconfig.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix

ci: include lint:ts
  .github/workflows/lint.yml
Due: prettier --write

build: lint ts (#718)
  .github/workflows/lint.yml
  docs/helpers/html.ts
  e2e/tsconfig.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix

chore: dependabot ignore all later versions
  .github/dependabot.yml
Due: prettier --write

chore: dependabot ignore all later versions (#735)
  .github/dependabot.yml
Due: prettier --write

feat: add select (native) component
  docs/helpers/html.ts
  packages/core/src/components/field-label/field-label.scss
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/input/input.scss
  packages/core/src/components/select/select.scss
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/select/select.story.tsx
  packages/core/src/components/select/select.ts
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/mixins/as-text-field.scss
  packages/core/src/mixins/index.scss
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix, stylelint --fix

style: apply suggestions from code review
  packages/core/src/components/select/select.scss
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/select/select.story.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: hide select placeholder from choices
  packages/core/src/components/select/select.story.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix
