Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

ci: deploy with single commit, don't keep history
  .github/workflows/deploy.yml
Due: prettier --write

chore(release): 1.0.0-rc.3 (#210)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

build: rename ".czrc.json" to supported ".czrc"
  .czrc
Due: none

ci: deploy with single commit, don't keep history (#211)
  .github/workflows/deploy.yml
Due: prettier --write

build: rename ".czrc.json" to supported ".czrc" (#212)
  .czrc
Due: none

build(examples): correctly start webpack
  examples/react-scss-js-webpack/package.json
Due: prettier --write

build(examples): correctly start webpack (#213)
  examples/react-scss-js-webpack/package.json
Due: prettier --write

chore: use any @onfido/castor-icons version
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  yarn.lock
Due: prettier --write

chore: use any @onfido/castor-icons version (#215)
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  yarn.lock
Due: prettier --write

feat: rename description component to helper-text
  .stylelintrc.json
  packages/core/src/components/description/description.ts
  packages/core/src/components/helper-text/helper-text.scss
  packages/core/src/components/helper-text/helper-text.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/radio/radio.scss
  packages/core/style/components/description.scss
  packages/core/style/components/helper-text.scss
  packages/react/src/components/description/description.react.tsx
  packages/react/src/components/helper-text/helper-text.react.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.react.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: rename description component to helper-text (#216)
  .stylelintrc.json
  packages/core/src/components/description/description.ts
  packages/core/src/components/helper-text/helper-text.scss
  packages/core/src/components/helper-text/helper-text.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/radio/radio.scss
  packages/core/style/components/description.scss
  packages/core/style/components/helper-text.scss
  packages/react/src/components/description/description.react.tsx
  packages/react/src/components/helper-text/helper-text.react.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.react.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor(core): use sass:list built-in module
  packages/core/src/helpers/border-radius/border-radius.scss
  packages/core/src/helpers/color/color.scss
  packages/core/src/helpers/font/font.scss
  packages/core/src/mixins/with-inner-focus.scss
  packages/core/src/mixins/with-outer-focus.scss
Due: prettier --write, stylelint --fix

feat(core): do not distribute individual component css files
  packages/core/style/components/button.scss
  packages/core/style/components/helper-text.scss
  packages/core/style/components/icon.scss
  packages/core/style/components/input.scss
  packages/core/style/components/radio.scss
  packages/core/style/components/search.scss
  packages/core/style/components/textarea.scss
Due: prettier --write, stylelint --fix

refactor(core): use sass:list built-in module (#224)
  packages/core/src/helpers/border-radius/border-radius.scss
  packages/core/src/helpers/color/color.scss
  packages/core/src/helpers/font/font.scss
  packages/core/src/mixins/with-inner-focus.scss
  packages/core/src/mixins/with-outer-focus.scss
Due: prettier --write, stylelint --fix

feat(core): do not distribute individual component css files (#225)
  packages/core/style/components/button.scss
  packages/core/style/components/helper-text.scss
  packages/core/style/components/icon.scss
  packages/core/style/components/input.scss
  packages/core/style/components/radio.scss
  packages/core/style/components/search.scss
  packages/core/style/components/textarea.scss
Due: prettier --write, stylelint --fix

feat: checkbox component
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/checkbox/checkbox.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/input-container/input-container.scss
  packages/core/src/components/input-container/input-container.ts
  packages/core/src/components/radio/radio.scss
  packages/core/style/components/checkbox.scss
  packages/core/style/components/input-container.scss
  packages/react/src/components/checkbox/checkbox.react.stories.tsx
  packages/react/src/components/checkbox/checkbox.react.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input-container/input-container.react.tsx
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: spread props as argument types
  packages/react/src/components/checkbox/checkbox.react.stories.tsx
  packages/react/src/components/radio/radio.react.stories.tsx
Due: prettier --write, eslint --fix

refactor: do not set same border style twice
  packages/core/src/components/checkbox/checkbox.scss
Due: prettier --write, stylelint --fix

refactor: improve comment where transition for "outline" added
  packages/core/src/components/checkbox/checkbox.scss
Due: prettier --write, stylelint --fix

feat: rename "description" component to "helper-text"
  packages/core/src/components/input-container/input-container.scss
  packages/react/src/components/checkbox/checkbox.react.stories.tsx
  packages/react/src/components/helper-text/helper-text.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: unset margin for indeterminate state
  packages/core/src/components/checkbox/checkbox.scss
Due: prettier --write, stylelint --fix

feat: merge input container within checkbox and radio when compiling
  packages/core/style/components/checkbox.scss
  packages/core/style/components/input-container.scss
Due: prettier --write, stylelint --fix

refactor: include input container directly in checkbox and radio mixins
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

refactor: put each prop individually instead of spreading an object
  packages/react/src/components/checkbox/checkbox.react.tsx
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix

refactor: don't set "name" prop for each story of checkbox
  packages/react/src/components/checkbox/checkbox.react.stories.tsx
Due: prettier --write, eslint --fix

refactor: make "tick" and "line" sharper
  packages/core/src/components/checkbox/checkbox.scss
Due: prettier --write, stylelint --fix

refactor: place input container as internal component
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/radio/radio.scss
  packages/core/src/internal/index.scss
  packages/core/src/internal/index.ts
  packages/core/src/internal/input-container/input-container.scss
  packages/core/src/internal/input-container/input-container.ts
  packages/react/src/components/checkbox/checkbox.react.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.react.tsx
  packages/react/src/internal/index.ts
  packages/react/src/internal/input-container/input-container.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: rename "input container" to "indicator container"
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/internal/index.scss
  packages/core/src/internal/index.ts
  packages/core/src/internal/indicator-container/indicator-container.scss
  packages/core/src/internal/indicator-container/indicator-container.ts
  packages/core/src/internal/input-container/input-container.ts
  packages/react/src/components/checkbox/checkbox.react.tsx
  packages/react/src/components/radio/radio.react.tsx
  packages/react/src/internal/index.ts
  packages/react/src/internal/indicator-container/indicator-container.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: track what additional component parts are already included
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/included.scss
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

refactor: simplify is-included function
  packages/core/src/components/included.scss
Due: prettier --write, stylelint --fix

refactor: rename function for checking style includes
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/includes.scss
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

feat: add checkbox component (#78)
  packages/core/src/components/checkbox/checkbox.scss
  packages/core/src/components/checkbox/checkbox.ts
  packages/core/src/components/includes.scss
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/radio/radio.scss
  packages/core/src/internal/index.scss
  packages/core/src/internal/index.ts
  packages/core/src/internal/indicator-container/indicator-container.scss
  packages/core/src/internal/indicator-container/indicator-container.ts
  packages/react/src/components/checkbox/checkbox.react.stories.tsx
  packages/react/src/components/checkbox/checkbox.react.tsx
  packages/react/src/components/helper-text/helper-text.react.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.react.stories.tsx
  packages/react/src/internal/index.ts
  packages/react/src/internal/indicator-container/indicator-container.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore(release): 1.0.0-rc.4
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix: correct indicator container border radius to "large"
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

chore(release): 1.0.0-rc.4 (#228)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

fix: correct indicator container border radius to "large" (#229)
  packages/core/src/internal/indicator-container/indicator-container.scss
Due: prettier --write, stylelint --fix

fix(core): checkbox component "invalid" state styling
  packages/core/src/components/checkbox/checkbox.scss
Due: prettier --write, stylelint --fix

fix(core): checkbox component "invalid" state styling (#231)
  packages/core/src/components/checkbox/checkbox.scss
Due: prettier --write, stylelint --fix

fix: use "gap" with grid
  packages/core/src/components/button/button.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
  packages/react/src/components/button/button.react.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: use "gap" with grid (#232)
  packages/core/src/components/button/button.scss
  packages/core/src/internal/indicator-container/indicator-container.scss
  packages/react/src/components/button/button.react.stories.tsx
Due: prettier --write, eslint --fix, stylelint --fix
