Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{,s}css": "stylelint --fix"
}

fix(core): correct sass variable usage (#158)
  packages/core/src/mixins/with-focus.scss
Due: prettier --write, stylelint --fix

ci: preview on pull request (#160)
  .github/workflows/preview.yml
Due: prettier --write

feat: radio component
  packages/core/src/components/icon/icon.scss
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/radio/radio.scss
  packages/core/src/components/radio/radio.ts
  packages/core/src/mixins/index.scss
  packages/core/src/mixins/interactive.scss
  packages/core/src/mixins/square.scss
  packages/core/style/components/radio.scss
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.react.stories.tsx
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: add outer focus
  packages/core/src/components/button/button.scss
  packages/core/src/components/input/input.scss
  packages/core/src/components/radio/radio.scss
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/mixins/index.scss
  packages/core/src/mixins/with-inner-focus.scss
  packages/core/src/mixins/with-outer-focus.scss
Due: prettier --write, stylelint --fix

style: apply suggestions from code review
  packages/core/src/components/radio/radio.scss
  packages/core/src/mixins/square.scss
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: correct spacing
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

refactor: share transition property across classes
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

feat: highlight disabled checked state
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

fix: correct positioning of custom "checked" indicator
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

refactor: share transition between input and custom "checked" indicator
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

fix: do not color background when disabled
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

feat: allow custom label with external description
  packages/core/src/components/description/description.scss
  packages/core/src/components/description/description.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/radio/radio.scss
  packages/core/src/components/radio/radio.ts
  packages/core/style/components/description.scss
  packages/react/src/components/description/description.react.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/radio/radio.react.stories.tsx
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: do not unset "checked" state after few seconds
  packages/react/src/components/radio/radio.react.stories.tsx
Due: prettier --write, eslint --fix

refactor: calculate right padding based on main element padding
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

fix: correct input border color and add focus border color change
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

style: group properties next to each other
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

fix: correct specificity using variables for property definitions
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

feat: align hover transition with other input components (no transition)
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

refactor: do not use variables for input to avoid confusion
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

feat: allow control externally and internally
  packages/react/src/components/radio/radio.react.stories.tsx
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix

feat: assign input name for each story
  packages/react/src/components/radio/radio.react.stories.tsx
Due: prettier --write, eslint --fix

style: apply suggestions from code review
  packages/react/src/components/description/description.react.tsx
  packages/react/src/components/radio/radio.react.stories.tsx
Due: prettier --write, eslint --fix

fix: do not apply right padding to input
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

style: do not interpolate when no css variable used
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix

chore: proof of concept
  packages/core/src/components/radio/radio.scss
  packages/react/src/components/radio/radio.react.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: proof of concept
  packages/core/src/components/radio/radio.scss
Due: prettier --write, stylelint --fix
