Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

build: bump "core" as peer dependency
  .eslintrc.json
  .versionrc.json
  scripts/bump-core-peer-dependency.cjs
Due: prettier --write

chore(react): do not use "react" in file naming
  jest.config.js
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/button/button.tsx
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/helper-text/helper-text.tsx
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/icon/icon.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/search/search.stories.tsx
  packages/react/src/components/search/search.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/index.ts
  packages/react/src/internal/indicator-container/indicator-container.tsx
Due: prettier --write, eslint --fix

chore(react): do not use "react" in file naming (#235)
  jest.config.js
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/button/button.tsx
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/helper-text/helper-text.tsx
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/icon/icon.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/input/input.tsx
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/search/search.stories.tsx
  packages/react/src/components/search/search.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/index.ts
  packages/react/src/internal/indicator-container/indicator-container.tsx
Due: prettier --write, eslint --fix

build: bump "core" as peer dependency (#234)
  .eslintrc.json
  .versionrc.json
  scripts/bump-core-peer-dependency.cjs
Due: prettier --write

fix(react): indicator data- and aria- properties apply to label
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/internal/index.ts
  packages/react/src/internal/indicator-container/index.ts
  packages/react/src/internal/indicator-container/splitContainerProps.ts
  packages/react/src/utils/fp/index.ts
  packages/react/src/utils/fp/map.ts
  packages/react/src/utils/fp/partition.ts
  packages/react/src/utils/fp/pipe.ts
  packages/react/src/utils/index.ts
Due: prettier --write, eslint --fix

test: cover fp
  packages/react/src/utils/fp/index.ts
  packages/react/src/utils/fp/map/map.spec.ts
  packages/react/src/utils/fp/map/map.ts
  packages/react/src/utils/fp/partition/partition.spec.ts
  packages/react/src/utils/fp/partition/partition.ts
  packages/react/src/utils/fp/pipe/pipe.spec.ts
  packages/react/src/utils/fp/pipe/pipe.ts
Due: prettier --write, eslint --fix

fix: import path
  packages/react/src/internal/indicator-container/index.ts
Due: prettier --write, eslint --fix

test: update map
  packages/react/src/utils/fp/map/map.spec.ts
Due: prettier --write, eslint --fix

refactor: fp into imperative
  packages/react/src/internal/indicator-container/splitContainerProps.ts
  packages/react/src/utils/fp/index.ts
  packages/react/src/utils/fp/map/map.spec.ts
  packages/react/src/utils/fp/map/map.ts
  packages/react/src/utils/fp/pipe/pipe.spec.ts
  packages/react/src/utils/fp/pipe/pipe.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/partition/partition.spec.ts
  packages/react/src/utils/partition/partition.ts
Due: prettier --write, eslint --fix

chore: update partition docs
  packages/react/src/utils/partition/partition.ts
Due: prettier --write, eslint --fix

test: fix partition
  packages/react/src/utils/partition/partition.spec.ts
Due: prettier --write, eslint --fix

chore: rename variable
  packages/react/src/internal/indicator-container/splitContainerProps.ts
Due: prettier --write, eslint --fix

refactor(react): define <label> props type individually
  packages/react/src/internal/indicator-container/indicator-container.tsx
Due: prettier --write, eslint --fix

test: cover splitContainerProps
  jest.config.js
  packages/react/src/internal/indicator-container/splitContainerProps.spec.ts
Due: prettier --write, eslint --fix

refactor: const to function
  packages/react/src/internal/indicator-container/splitContainerProps.ts
Due: prettier --write, eslint --fix

docs: comment partition
  packages/react/src/utils/partition/partition.ts
Due: prettier --write, eslint --fix

refactor: extract partitionObject
  packages/react/src/internal/indicator-container/splitContainerProps.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/partitionObject/partitionObject.spec.ts
  packages/react/src/utils/partitionObject/partitionObject.ts
Due: prettier --write, eslint --fix

refactor: move exports
  packages/react/src/internal/index.ts
  packages/react/src/internal/indicator-container/index.ts
  packages/react/src/internal/indicator-container/indicator-container.tsx
Due: prettier --write, eslint --fix

chore: accept suggestion
  packages/react/src/internal/indicator-container/splitContainerProps.ts
Due: prettier --write, eslint --fix

chore: rename truey and falsey vars
  packages/react/src/utils/partition/partition.spec.ts
  packages/react/src/utils/partitionObject/partitionObject.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

test: fix partitionObject
  packages/react/src/utils/partitionObject/partitionObject.spec.ts
Due: prettier --write, eslint --fix

refactor(react): define <label> props type individually (#237)
  packages/react/src/internal/indicator-container/indicator-container.tsx
Due: prettier --write, eslint --fix

docs(react): inform to include "icons" sprite
  docs/_react/intro.story.tsx
  packages/react/README.md
Due: prettier --write, eslint --fix

docs(react): improve example with a fragment
  packages/react/README.md
Due: prettier --write

docs(react): correct spelling of "a lower ECMAScript version"
  packages/react/README.md
Due: prettier --write

fix: yarn lock
  yarn.lock
Due: none

docs(react): correct spelling of "a lower ECMAScript version" (#240)
  packages/react/README.md
Due: prettier --write

docs(react): improve example with a fragment (#238)
  packages/react/README.md
Due: prettier --write

docs(react): inform to include "icons" sprite (#239)
  docs/_react/intro.story.tsx
  packages/react/README.md
Due: prettier --write, eslint --fix

refactor: remove partition
  packages/react/src/utils/index.ts
  packages/react/src/utils/partition/partition.spec.ts
  packages/react/src/utils/partition/partition.ts
  packages/react/src/utils/partitionObject/partitionObject.ts
Due: prettier --write, eslint --fix

chore: prettier
  packages/react/src/internal/indicator-container/splitContainerProps.ts
Due: prettier --write, eslint --fix

fix: types
  packages/react/src/internal/indicator-container/splitContainerProps.ts
Due: prettier --write, eslint --fix

docs(react): inform that old browsers are not supported
  packages/react/README.md
Due: prettier --write

docs(react): inform that old browsers are not supported (#241)
  packages/react/README.md
Due: prettier --write

fix(react): indicator data- and aria- properties apply to label (#236)
  jest.config.js
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/internal/indicator-container/indicator-container.tsx
  packages/react/src/internal/indicator-container/splitContainerProps.spec.ts
  packages/react/src/internal/indicator-container/splitContainerProps.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/partitionObject/partitionObject.spec.ts
  packages/react/src/utils/partitionObject/partitionObject.ts
Due: prettier --write, eslint --fix

docs: improve installation instructions of icons on storybook
  docs/_core/intro.story.tsx
  docs/_react/intro.story.tsx
Due: prettier --write, eslint --fix

docs: improve installation instructions of icons on storybook (#242)
  docs/_core/intro.story.tsx
  docs/_react/intro.story.tsx
Due: prettier --write, eslint --fix

chore(release): 1.0.0
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

chore(release): 1.0.0 (#244)
  CHANGELOG.md
  examples/custom-themes/package.json
  examples/html-css-js-parcel/package.json
  examples/html-css-js/package.json
  examples/html-css/package.json
  examples/html-scss-ts-parcel/package.json
  examples/react-emotion-ts-parcel/package.json
  examples/react-scss-js-webpack/package.json
  examples/react-scss-ts-parcel/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
Due: prettier --write

build: improve release process
  .github/workflows/build.yml
  .github/workflows/preview.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
