Repository onfido/castor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

feat: make a placeholder part of component composition
  packages/core/src/components/field-label/field-label.stories.ts
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/select/select.story.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

fix: correct padding
  packages/core/src/components/select/select.scss
Due: prettier --write, stylelint --fix

docs: exclude "class" from table on core story
  packages/core/src/components/select/select.stories.ts
Due: prettier --write, eslint --fix

docs: set placeholder as "select an option..."
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/select/select.story.tsx
  packages/react/src/components/select/select.stories.tsx
Due: prettier --write, eslint --fix

feat(react): add custom (select) option component
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

feat(react): default as "native" select via prop
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix

feat: add select (native) component (#403)
  docs/helpers/html.ts
  packages/core/src/components/field-label/field-label.scss
  packages/core/src/components/field-label/field-label.stories.ts
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/input/input.scss
  packages/core/src/components/select/select.scss
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/select/select.story.tsx
  packages/core/src/components/select/select.ts
  packages/core/src/components/textarea/textarea.scss
  packages/core/src/mixins/as-text-field.scss
  packages/core/src/mixins/index.scss
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
Due: prettier --write, eslint --fix, stylelint --fix

build: fix bundlewatch diff report
  .bundlewatchrc.json
  .github/workflows/build.yml
  CONTRIBUTING.md
  package.json
Due: prettier --write

ci: setup node version based on .nvmrc file
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier --write

build: watch only core css and package prototype files
  .bundlewatchrc.json
Due: prettier --write

style: use uppercase "k" for setting max size
  .bundlewatchrc.json
Due: prettier --write

ci: setup node version based on .nvmrc file (#737)
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier --write

build: fix bundlewatch diff report (#724)
  .bundlewatchrc.json
  .github/workflows/build.yml
  CONTRIBUTING.md
  package.json
Due: prettier --write

test: add select (native) component snapshots
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Select/All Combinations.snap.png
Due: none

docs(react): always connect label with select
  packages/react/src/components/select/select.stories.tsx
Due: prettier --write, eslint --fix

docs(react): include select (native) component in form example
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

test: add select (native) component snapshots (#745)
  e2e/.snapshots/visual-regression/all.e2e.ts/Core/Select/All Combinations.snap.png
  e2e/.snapshots/visual-regression/all.e2e.ts/React/Select/All Combinations.snap.png
Due: none

docs(react): always connect label with select (#746)
  packages/react/src/components/select/select.stories.tsx
Due: prettier --write, eslint --fix

docs(react): include "non-binary" gender in selection
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

docs(react): include select (native) component in form example (#747)
  packages/react/src/components/form/form.stories.tsx
Due: prettier --write, eslint --fix

docs: place storybook components into subdirectory
  packages/core/src/components/button/button.stories.ts
  packages/core/src/components/field-label/field-label.stories.ts
  packages/core/src/components/icon/icon.stories.ts
  packages/core/src/components/input/input.stories.ts
  packages/core/src/components/select/select.stories.ts
  packages/core/src/components/spinner/spinner.stories.ts
  packages/core/src/components/textarea/textarea.stories.ts
  packages/react/src/components/button/button.stories.tsx
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/field-label/field-label.stories.tsx
  packages/react/src/components/fieldset-legend/fieldset-legend.stories.tsx
  packages/react/src/components/form/form.stories.tsx
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/input/input.stories.tsx
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/search/search.stories.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/spinner/spinner.stories.tsx
  packages/react/src/components/textarea/textarea.stories.tsx
Due: prettier --write, eslint --fix

ci: cache yarn
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier --write

ci: cache yarn (#759)
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier --write

feat(react): don't allow using "children" prop for adding input/textarea label
  packages/react/src/components/input/input.tsx
  packages/react/src/components/textarea/textarea.tsx
  packages/react/src/internal/field-label-wrapper/field-label-wrapper.tsx
  packages/react/src/internal/index.ts
Due: prettier --write, eslint --fix

feat: progress
  packages/core/src/components/index.scss
  packages/core/src/components/index.ts
  packages/core/src/components/progress/progress.scss
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/progress/progress.story.tsx
  packages/core/src/components/progress/progress.ts
  packages/react/src/components/index.ts
  packages/react/src/components/progress/progress.stories.tsx
  packages/react/src/components/progress/progress.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(progress): add min value prop
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/progress/progress.ts
  packages/react/src/components/progress/progress.stories.tsx
  packages/react/src/components/progress/progress.tsx
Due: prettier --write, eslint --fix

refactor(progress): apply review suggestions
  packages/core/src/components/progress/progress.ts
  packages/react/src/components/progress/progress.stories.tsx
  packages/react/src/components/progress/progress.tsx
Due: prettier --write, eslint --fix

fix(progress): fix core component typings
  packages/core/src/components/progress/progress.stories.ts
  packages/core/src/components/progress/progress.story.tsx
Due: prettier --write, eslint --fix

test(progress): fix custom label text
  packages/react/src/components/progress/progress.stories.tsx
Due: prettier --write, eslint --fix

feat: add cssVars helper
  packages/core/src/utils/cssVars/cssVars.spec.ts
  packages/core/src/utils/cssVars/cssVars.ts
Due: prettier --write, eslint --fix

refactor(progress): implement review suggestion - simplify to one div element
  packages/core/src/components/progress/progress.scss
  packages/core/src/components/progress/progress.story.tsx
  packages/core/src/utils/index.ts
  packages/react/src/components/progress/progress.tsx
Due: prettier --write, eslint --fix, stylelint --fix

test(progress): improve value changing example
  packages/react/src/components/progress/progress.stories.tsx
Due: prettier --write, eslint --fix

test(progress): add missing property on core test
  packages/core/src/components/progress/progress.story.tsx
Due: prettier --write, eslint --fix

fix(progress): use null coalescing to merge style instead of default
  packages/react/src/components/progress/progress.tsx
Due: prettier --write, eslint --fix

refactor(progress): use react useMemo to calculate the percentValue
  packages/react/src/components/progress/progress.tsx
Due: prettier --write, eslint --fix

test(progress): fix core percentValue calculation
  packages/core/src/components/progress/progress.story.tsx
Due: prettier --write, eslint --fix

style(progress): apply review suggestions
  packages/core/src/components/progress/progress.scss
  packages/core/src/utils/cssVars/cssVars.ts
Due: prettier --write, eslint --fix, stylelint --fix

test(progress): apply review suggestions
  packages/core/src/components/progress/progress.stories.ts
  packages/react/src/components/progress/progress.stories.tsx
Due: prettier --write, eslint --fix

test(progress): fix size defaultValue display
  packages/core/src/components/progress/progress.stories.ts
  packages/react/src/components/progress/progress.stories.tsx
Due: prettier --write, eslint --fix

refactor(progress): use a variable to store percentValue instead of repeating the calculation
  packages/core/src/components/progress/progress.story.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{,s}css
